[2014-03-24 19:29] bruci opened #1 "Example "Hello world" doesn't work."
Uncaught Error: Class '_LocalLibraryMirror' has no instance getter 'topLevelMembers'.

NoSuchMethodError: method not found: 'topLevelMembers'
Receiver: Instance of '_LocalLibraryMirror'
Arguments: []
Stack Trace:
#0      setUp (package:bloodless/server.dart:217:5)
#1      start.<anonymous closure> (package:bloodless/server.dart:158:10)
#2      Future.Future.<anonymous closure> (dart:async/future.d

[2014-03-25 11:51] #1 closed, assigned to luizmineo

[2014-04-15 12:38] petermetz opened #2 "Are HTTP sessions supported?"
If I serve requests with the core HttpServer API, my browser will receive the session cookie (called 'DARTSESSID').

If I use bloodless to serve HTTP requests, the mentioned cookie isn't added to responses.
Is this because I meant to create only stateless web apps (or sessions implemented in a different way)?

Thanks,
Peter

[2014-04-15 14:16] #2 closed, assigned to nobody

[2014-04-17 14:12] petermetz opened #3 "Can`t get ErrorHandler to be called"
Hiya,

I was trying to set up an error handler and couldn't get it working. I'm not sure if it's my code or the library. Could you please have a look at my test case for which I'd expect the error handler to be called?

I'm on Dart 1.3 stable and the exact link I was testing is this:
http://localhost:8080/a/b

[code]

[2014-04-22 00:20] #3 closed, assigned to luizmineo

[2014-05-06 08:17] nistvan86 opened #6 "deployServer copies client side dependencies to bin"
Hi!

I've just found bloodless recently. I really like the whole concept behind, thanks for developing it!

I have created a Grinder based build script following the example in the readme to test the build.
I've noticed that Grinder copies even client side dependencies to `build/bin/packages`, for example the `browser` package which is meaningless on the server side.
Client side dependencies are b

[2014-05-07 19:54] #6 closed, assigned to nobody

[2014-05-13 02:29] kevmoo opened #7 "Consider integrating w/ Shelf"
http://pub.dartlang.org/packages/shelf

Curious if you've taken a look. Let me know if you have questions.

If you have reasons _not_ to integrate w/ shelf, I'm even more interested. :smile:

[2014-05-14 15:37] digizen opened #8 "Annotations for DI for Routes but not Interceptors?"
Hi,

Trying to figure out why routes require an annotation for DI to work (@app.Inject), but Interceptors do not (at least in your example). Can you please explain?

This is from your documentation:

@app.Route('/service')
service(@app.Inject() ClassA objA) {
 ...
}
@app.Interceptor(r'/services/.+')
interceptor(ClassA objA, ClassB objB) {
  ...
}

Thanks,
Greg

[2014-05-15 04:31] #8 closed, assigned to nobody

[2014-05-15 04:46] digizen opened #9 "Body as JSON Question"
I'm not sure if I'm doing something wrong or I've stumbled into a bug.

Server-side, this works fine:

[code]

Same thing, with a "body" request annotation fails:

[code]

The error message I receive (client-side) is below. The server doesn't respond with any error at all.

This is my client-side code:

[code]

Can you please assist?

Thanks,
Greg

[2014-05-15 15:43] #9 closed, assigned to nobody

[2014-05-15 15:48] luizmineo opened #10 "Log invalid requests"
Redstone must generate log messages in the following scenarios:
- method not allowed
- content type not allowed
- multipart request not allowed

[2014-05-16 17:19] #10 closed, assigned to nobody

[2014-05-17 08:46] akofoed opened #12 "Groups - REST style"
Thanks for this great framework. Just getting started using it.

This is a feature request.

I like the Jersey inspired groups annotation and I want to create a class that holds all the methods for a particular rest endpoint. But I cannot seem to get the following to work:

Collection: GET /users.<format> (eg. json (/users.json)
One user: GET /users/1.<format>

If I put @app.Group("/users") on the

[2014-05-21 21:14] #7 closed, assigned to nobody

[2014-05-28 11:40] akofoed opened #13 "Different functions all HTTP-methods"
I try to follow the principals here:
http://www.restapitutorial.com/lessons/httpmethods.html

Coming from PlayFramework (Java) and Jersey (Java) I really like the fact that you can have different functions for each HTTP-method.

Ideally, I'd like to have my users class to look like this:

[code]

How would that be possible?
Let me know if I can help. I had a look at the competing Dart server frame

[2014-05-28 21:17] dialupdisaster opened #15 "Tag releases with git tags"
So they show up as releases in github

[2014-05-29 15:35] #12 closed, assigned to nobody

[2014-05-29 15:37] #13 closed, assigned to nobody

[2014-05-29 18:57] #15 closed, assigned to nobody

[2014-06-02 01:43] dialupdisaster opened #16 "Multiple methods per path not working properly."
For some reason if you create multiple methods for the same route any parameters get set the first time a route is accessed then never update any time the path is changes when matching the route.

Here is an example:

[code]

The first time you go to `/api/test` it will return `GET test` and every time after. But if you change the route to `/api/test2` then it will still output `GET test` not `GET

[2014-06-02 13:09] #16 closed, assigned to nobody

[2014-06-16 18:39] seaneagan opened #17 "RAML plugin"
Since redstone allows you to define APIs declaratively using methods, parameters, annotations, etc, it should be possible to generate a [RAML](http://raml.org/) doc from those.

Would the plugin API provide the necessary hooks to implement this?

[2014-06-17 02:24] dialupdisaster opened #18 "django style header/querparams"
It would be awesome if you could make app.request.headers and app.request.queryParams work like django's which are actually set to an object of QueryDict.

Examples:
https://docs.djangoproject.com/en/dev/ref/request-response/#django.http.QueryDict
https://docs.djangoproject.com/en/dev/ref/request-response/#django.http.QueryDict

Here is an example:

[code]

I couldn't figure out darts equivalent t

[2014-06-23 10:44] vicb opened #19 "Better deps handling"
The pubspec.yaml reads as follow

[code]

You can introduce a BC break by running a `pub update` because `di` and `stack_trace` can have a BC break. According to semver, the constraints should be:

- `>=0.m.p <0.m+1.0' for pre 1.0 pkgs,
- '>=M.m.p <M+1.0.0` for post 1.0

[2014-06-24 08:18] vicb opened #21 "Remove the pubspec.lock from git ?"
This is a lib package, the pubspec.lock should not be versionned

.gitignore has

[code]

I think it should be uncommented, right ?

[2014-06-24 11:29] #21 closed, assigned to nobody

[2014-06-25 16:55] #18 closed, assigned to nobody

[2014-06-29 04:40] garywu125 opened #22 "error occur in Ubuntu 12.04 LTS , while executing pub get"
error message :
    vagrant@precise64:/vagrant$ sudo pub get
     Resolving dependencies... (10.1s)
     Cannot create link, path = '/vagrant/packages/redstone' (OS Error: Protocol erro
     r, errno = 71)

[2014-07-02 11:25] #22 closed, assigned to nobody

[2014-07-05 22:35] digizen opened #23 "Mocking DI objects with redstone"
Hi,

I'm trying to write my first unit test for my little project using Redstone, but am getting confused. My GET request takes a couple of objects that are injected at runtime:

[code]

Then when I try to mock this using your standard boilerplate (https://github.com/luizmineo/redstone.dart/wiki/Unit-test), I get the following error:

ERROR: hello service
  Setup failed: Caught SetupException: [.L

[2014-07-08 17:10] #23 closed, assigned to nobody

[2014-07-10 15:53] dialupdisaster opened #24 "Weird requests make redstone crash."
I have had a few different times where redstone crashed in a way I couldnt prevent and it was with weird requests. Here are some examples:

[code]

I don't know what `http://www.daydaydata.com/proxy.txt` is and its not the domain this service was running on so I think it was a bot.

I cant seem to find the log for the other error but it was something with the route. I will update this issue if it

[2014-07-13 06:30] hasan3ysf opened #25 "how to load the html file related to the route"
Hi Luiz,
I liked your packages, but did not get how to use it.

I've 2 html files, index.html and details.html
in the index, there is  field of userid, <a href="/details/:userid></a>

I understand the redstone will consider the route param, but how can I make it understand to load the details file as well..

hope my request is clear..
Can you provide example pls.

thank

[2014-07-14 12:23] #25 closed, assigned to nobody

[2014-07-21 21:40] luizmineo opened #30 "Can't use Redstone with shelf_web_socket"
See https://gist.github.com/holgerkoser/a6657ece3d51876cee28

[2014-07-22 00:05] #30 closed, assigned to nobody

[2014-07-27 04:12] avastou opened #31 "Broken response with shelf"
Hi,

I try to forward (like proxy) a response of http.get with shelf.Response. Unfortunatly this don't work always with static file like image (example:http://useoctobox.com/lib/images/logo.png)

[code]

thanks for help!

[2014-07-29 09:53] garywu125 opened #32 "I would like to have a CORS_headers that automatically adds, How can I do in the latest version (0.5.9) ??"
The following code could not work in the current version, How can I set CORS-related Header
void addCorsHeaders(HttpHeaders headers) {
  headers.add("Access-Control-Allow-Origin", "*, ");
  headers.add("Access-Control-Allow-Methods", "POST, GET, OPTIONS");
  headers.add("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
}

@app.Interceptor(r'/.*')
handleResponseHead

[2014-07-29 11:30] #32 closed, assigned to nobody

[2014-07-29 11:32] #31 closed, assigned to nobody

[2014-07-30 22:39] OzzieOrca opened #33 "Upgrade dependency on di to 2.0.1"
Redstone is not using the most recent version of `di` which is causing problems when trying to include other libraries. Angular.dart now requires `di: '>=2.0.1 <3.0.0'` resulting in incompatible version constraints on `di` when trying to use both in the same project.

[2014-07-31 23:16] garywu125 opened #34 "How can I Grabs the Origin request header ??"
To allow access-control-allow-origin with multiple domains , I have to do the following things:
1.Grabs the Origin request header.
2.Checks if the origin value is one of the whitelisted values.
3.If it is valid, sets the Access-Control-Allow-Origin header with that value.

I don't know how  I can Grabs the Origin request header in RedStone.dart   ?

[2014-08-02 12:21] #33 closed, assigned to nobody

[2014-08-02 12:22] #34 closed, assigned to nobody

[2014-08-03 01:42] garywu125 opened #35 "Can't use Redstone with shelf_web_socket"
after upgrade to version 0.5.10 , HijackException has been raised again !!!!!

[2014-08-04 11:17] #35 closed, assigned to nobody

[2014-08-06 21:53] OzzieOrca opened #36 "Add support for routes where parameters contain slashes"
I would like to have a route where everything past the base route would be included in the parameter, slashes and all. An example API might be:

[code]

where a request such as `GET: /api/pages/categoryName/pageName` would match this route and return the response `categoryName/pageName`.

An example implementation of this in AngularDart is at https://github.com/angular/route.dart/pull/55

[2014-08-14 07:07] #36 closed, assigned to luizmineo

[2014-08-21 15:44] Emasoft opened #37 "Use the 'await' expression instead of callbacks in Redstone"
The initial support for the 'await' expression in Dart has been commited, as you can read here:
https://code.google.com/p/dart/source/detail?r=39345
Using 'await' is a tremendous advantage for server side application development. Asynchronous programming becomes very easy to implement.
Can you consider to refactor Redstone to making use of it in a new branch, even if it will be released officially

[2014-08-22 16:26] RobertBlackhart opened #38 "Mapper Documentation"
I've been trying to get a simple mapper example working. On my server side, I have the following piece of code to handle posting a new auction to my database:

[code]

And there is an associated Auction class available:

[code]

On my client side I have the following code:

[code]

What is the correct way to post this object to the server so that it can be decoded and stored in the database? I'm u

[2014-08-22 18:57] #38 closed, assigned to nobody

[2014-08-29 01:58] RobertBlackhart opened #39 "Crash with mapper transformer, OK without"
I am writing the client side of my application. In it I am requesting from the server a list of Auctions which are being encoded like this:

[code]

The Auction class looks like this (on both ends):

[code]

The client-side code looks like this:

[code]

My pubspec.yaml file has the redstone_mapper transformer listed (as suggested):

[code]

However, when running the client, it throws an exception

[2014-08-29 19:59] #39 closed, assigned to luizmineo

[2014-09-03 17:50] atebitftw opened #40 "Can't use redstone_mapper on client side version conflict with polymer"
Looks like the code_transformers package has updated:

[code]

[2014-09-04 01:12] #40 closed, assigned to nobody

[2014-10-09 18:57] austincummings opened #41 "Uncaught error: Illegal argument(s): scriptName and url cannot both be empty."
[code]

Stacktrace:

[code]

I received this error while my server was running, seems to still be up though. Let me know if I can provide any more details.

[2014-10-10 07:23] sdeleuze opened #42 "Customize the response status code"
I have not found a way to customize easily the response status code, have I missed something ?

I would expect to be able to define it statically `@app.Route('/', methods: const [app.POST], statusCode: HttpStatus.CREATED)` or dynamically `app.statusCode(HttpStatus.CREATED);`.

[2014-10-12 10:57] kevin-sakemaer opened #43 "Incompatible version constraints on di"
Incompatible version constraints on di with anuglarDart 1.0.0

[2014-10-12 19:49] #43 closed, assigned to luizmineo

[2014-10-12 19:50] #42 closed, assigned to luizmineo

[2014-10-12 19:51] #41 closed, assigned to luizmineo

[2014-10-12 19:54] #24 closed, assigned to nobody

[2014-10-16 07:12] OzzieOrca opened #44 "Redstone 0.5.18 method not found: 'isNotEmpty'"
I upgraded to Dart 1.7 and Redstone 0.5.18 and am getting the following errors when running my Dart server. I'm not sure if this is something I'm doing wrong or if it is a bug but it worked fine on Redstone 0.5.16. I'd appreciate any suggestions you might have. Thanks!

[code]

[2014-10-16 20:06] #44 closed, assigned to nobody

[2014-10-24 16:12] platelk opened #45 "Error : multiple call of shelf.Request.read()"
Hi,

I have some issue on my project when i use interceptor with the parseRequestBody: true option.
When i activate the option i get the error :

Bad state: The 'read' method can only be called once on a shelf.Request/shelf.Response object.

this code produice the error

import 'package:redstone/server.dart' as app;

@app.Interceptor("/.*", parseRequestBody: true)
interceptorExample() {
  app.chai

[2014-10-25 13:47] #45 closed, assigned to nobody

[2014-11-11 03:48] ronlobo opened #47 "ORM Support"
Hello,

coming from a Laravel background, I'd like to know, if there are any ORM plans?

Thanks and greets
ron

[2014-11-18 19:16] cgarciae opened #48 "How to respond with an HTML"
Is there an easy way to respond with an HTML file in the `web` folder? I most of the example I see respond `json` or `plain text`, but there must be an easy way to respond the start page.

[2014-11-19 15:55] cgarciae opened #49 "Improve documentation: Redstone with GAE"
Can you use Redstone in Google App Engine? If so, can you give me a "Hello World" example to start using it?

[2014-11-21 15:33] cgarciae opened #50 "Error when Deploying with Grinder"
I tried to follow the Deploy section on the wiki. I have the following setup:
1. `tool/grind.dart` with the given code.
2. `grinder: any` on pubspec
3.  I run `pub run grinder:grind all` on the command line

I get to following error message

[code]

A quick side question: why doesn't `pub build` do the job on its own?

[2014-11-21 21:55] #50 closed, assigned to nobody

[2014-11-25 23:06] cgarciae opened #51 "About JSON serialization"
Sorry this is not an actual issue, but I see you serialize automatically serialize some responses to JSON. I've been searching a lot on how to serialize and haven't got any satisfactory answer.

Can you please tell me what method you use to serialize objects?

[2014-11-26 01:36] cgarciae opened #52 "About Dependency Injection"
I read the docs on `dependency injection` but to me its still a mystery how to create the request from the client. Could you give me a small sample of how to use it?

EDIT:

Read about DI, so I see this question makes no sense. So now I ask, what is the benefit of using DI with in Redstone?

[2014-12-05 12:39] nistvan86 opened #53 "List support for @app.QueryParam"
I've just tried this, and it doesn't work:

[code]

I'm calling it like:
[code]

Please support this argument variant.

[2014-12-07 02:34] mkhan-akhan opened #54 "Premature closure of a request with multiple futures"
Consider the following Future:
  Future<List<WordDto>> searchWord(String searchText) {
    var completer = new Completer();
    var sql = "select \* from words where decorated like " +
            "'" + searchText + "%' order by decorated";

[code]

  }

As soon as the connect(uri) future completes the request is closed. The framework does not seem to wait for the topmost future to complete before

[2014-12-07 21:04] #54 closed, assigned to nobody

[2014-12-09 02:13] cgarciae opened #55 "'XMLHttpRequest cannot load' error on HTTP Requests from Dart client to local Redstone server"
I've lately been trying to build a Dart client that communicates with my Redstone server. If I run this url (localhost:8080/id/6192449487634432) on any browser I get back a JSON that I've set up, however, if a use

[code]

on the Dart client, I get this weird error

[code]

Is this a client or server issue? I've been told to modify the HttpResponse headers but since Redstone handles everything I d

[2014-12-09 15:57] #55 closed, assigned to nobody

[2014-12-10 00:30] cgarciae opened #56 "Redstone running in the Editor vs Redstone running in Dartium"
While trying to share code on both server and client, I ended up writing classes with a structure like this

[code]

where `A` and `C` are general version of some classes, `B` and `D` are browser or server specific. When I run this code by serving it via `Run in Dartium`

[code]

I get

[code]

as expected. But when the `index.html` function is served by Redstone and executes the `main` function I

[2014-12-14 05:32] dialupdisaster opened #57 "Improve documentation - redstone_mapper: Updating resources (MongoDB and PostgreSQL)."
You have examples for getting a list of a resource and adding a new with POST but nothing on updating a resource using PUT. I have done it mysql but am curious as to how you would do it.

[2014-12-22 15:03] RobertBlackhart opened #58 "Transformer problem with async/await"
There appears to be an issue when using the client-side transformer and the main() method is declared as async. This is the (minimal) source code needed to produce a problem:

[code]

And it produces this stack trace:

[code]

Removing the redstone_mapper from the transformers section of the pubspec.yaml file also removes this problem. I took a quick look at what the transformer was trying to do t

[2014-12-24 09:26] skoky opened #59 "Improve documentation: Add example of unittest with DI"
Hello

could you please add an example of service unit test with DI on service initialization? I have a service with DI but I don't know how to test it. Thank you.

[2014-12-24 21:12] #56 closed, assigned to nobody

[2014-12-24 21:14] #52 closed, assigned to nobody

[2014-12-24 21:18] #51 closed, assigned to nobody

[2014-12-24 21:28] luizmineo opened #60 "Improve documentation: serving static files"
Currently, the documentation is not very clear about serving static files, since it's mentioned only in the shelf section. Examples can be added in the feature tour and routes sections.

[2014-12-24 21:30] #48 closed, assigned to nobody

[2014-12-24 21:31] #47 closed, assigned to nobody

[2014-12-24 21:37] #58 closed, assigned to nobody

[2015-01-01 16:30] kaendfinger opened #61 "Is redstone dead?"
I am praying that redstone isn't dead! I love it too much!

[2015-01-01 16:40] luizmineo commented on #61
No, it's not. I'm working on the v0.6 version for a while, and I hope to publish it on github soon. Stay tuned!

[2015-01-01 17:54] kaendfinger commented on #61
:) Thanks. You are awesome.

[2015-01-01 22:26] iamsalnikov commented on #61
:+1:

[2015-01-02 04:49] cgarciae opened #62 "Proper way to query list of id's on mongoDB with redstone_mapper_mongo?"
In the example in the docs you use

[code]
to interact with mongo's Id Object. However, it is common for you have a list of ids of objects in another collection. How do I make that query and/or structure my class?

[2015-01-02 10:24] luizmineo commented on #62
You can use the @ReferenceId annotation (it isn't documented yet, but I hope to fix that soon)

[code]

[2015-01-02 10:26] luizmineo commented on #62
See http://www.dartdocs.org/documentation/redstone_mapper_mongo/0.1.2/index.html#redstone_mapper_mongo/mongodb_metadata.ReferenceId

[2015-01-02 17:30] cgarciae commented on #62
Thanks man! You always save me.

I've been depending on your code a lot and I would like to contribute back atleast with documentation. Tell me if you need anything.

[2015-01-02 20:35] cgarciae commented on #62
Ok, so now I have a list of `String`s that are the ids of some objects in the DB. How do I use this list to FIND those objects?

[2015-01-03 11:37] luizmineo commented on #62
That depends on how you are building your query. For example, if you want to retrieve all objects with a single query, you can do the following:

[code]

Let me know if that helps

[2015-01-03 21:51] cgarciae commented on #62
Thanks! Id been looking for `$in` but now I see it's a reserved word so they had to come up with `oneFrom`.

[2015-01-03 21:52] #62 closed

[2015-01-06 03:08] cgarciae opened #63 "Error when MongoDB.findOne doesn't find anything"
This code that tries to add a user to mongo
[code]
gives me this error
[code]
I resorted to using `MongoDB.collection (...).findOne (...)` as it returns a null object when if doesn't find anything. Also, is there a way to use Redstone Mapper to convert a Map to an Object and viceversa? Would really help in this case.

[2015-01-06 21:34] luizmineo commented on #63
Thanks for reporting this, I`ll update the mongodb wrapper to handle null values.

To just encode or decode objects, you can use the [MongoDb.encode()](http://www.dartdocs.org/documentation/redstone_mapper_mongo/0.1.2/index.html#redstone_mapper_mongo/mongodb_manager.MongoDb@id_encode) and [MongoDb.decode()](http://www.dartdocs.org/documentation/redstone_mapper_mongo/0.1.2/index.html#redstone_mappe

[2015-01-11 14:36] luizmineo commented on #53
Sorry for taking so long to reply. I've implemented this feature on v0.6 (which I hope to publish on github soon). Although, this feature requires a breaking change, since the request object must provide the query parameters as a `Map<String, List<String>>`, instead of `Map<String, String>`, so I won't implement it in the current (v0.5) stable branch.

[2015-01-11 14:42] luizmineo commented on #37
v0.6 (which I hope to publish on github soon) uses the new async/await and enum features, which makes the code easier to understand and maintain. Although, note that it doesn't stop you from using these features in your application right now, with the current (v0.5) stable version.

[2015-01-12 10:32] nistvan86 commented on #53
Thank you! :) Waiting for v0.6 then.

[2015-01-13 23:03] austincummings opened #64 "How to respond with a file?"
Hey @luizmineo,

I need to have a route that is capable of returning a file from the file system. I currently have one that returns a `Future<File>` as `new File(filePath)`. But it seems that everytime I try to request the route it sends a completely empty response.

Any help with this would be greatly appreciated.

Thanks

[2015-01-13 23:07] austincummings commented on #64
Actually it seems it's responding with the file. But not as a download in the browser. Any idea on that?

[2015-01-14 01:37] luizmineo commented on #64
Hi,

To force the browser to handle the response as a downloadable file, you can set the `content-disposition: attachment;` header. There are some ways to do that. One option is to use an interceptor:

[code]

That way, the user can send a request to `/files/report.pdf`, to download a `report.pdf` file, for example.

Another option is to directly build and return a `shelf.Response` object, instead

[2015-01-15 19:35] cgarciae opened #65 "Uploading a File"
I am trying to upload a file in Dart with this code

**Reading the file**

[code]
**Sending the file**
[code]

But I get this error

[code]

I receive it in Redstone like this

[code]

I am doing something wrong on the client or on the server?

[2015-01-15 20:59] luizmineo commented on #65
You can`t send the file data directly. Instead, you have to send a [FormData](https://api.dartlang.org/apidocs/channels/stable/dartdoc-viewer/dart:html.FormData) object (or just submit a form). You can find some post about its usage on stackoverflow, like [this one](http://stackoverflow.com/questions/14044461/upload-file-to-server-with-dart)

[2015-01-15 21:15] cgarciae commented on #65
Thanks! Now Redstone accepts the request. However I get a map like this

[code]
I've seen that if I manually use an input form (which I don't because then the browser tries to navigate to `/upload`) Redstone decodes the file to a `HttpBodyFileUpload` automatically. What can I add on the client upload to achieve the same effect?

[2015-01-15 21:17] cgarciae commented on #65
My new client code looks like this

[code]

[2015-01-15 21:27] luizmineo commented on #65
Try to apeend the file input element to the form, instead of the file data.

[2015-01-15 22:56] cgarciae commented on #65
Thanks! It worked sending the `FormElement` and how I have that file is a `HttpBodyFileUpload`.

One last bit of help, I am guessing `HttpBodyFileUpload.content` is a binary representation of the image since its a `List<int>`, how can I convert and save this to disk as a `png` for example?

Thanks a lot!

[2015-01-16 12:19] luizmineo commented on #65
Just create a [File](https://api.dartlang.org/apidocs/channels/stable/dartdoc-viewer/dart:io.File) object (note that this is the File from `dart:io`, not `dart:html`) to write the data to the disk

[2015-01-17 23:08] kaendfinger commented on #61
@luizmineo What is the status of v0.6? If it will be awhile, can you detail what's new?

[2015-01-18 13:27] luizmineo commented on #61
Well, it's taking more time than I had planned, but it's almost 60% done.

The main goal of this version is to reorganize the entire implementation of Redstone, which will make the code more easy to maintain and evolve. Also, I'm taking the opportunity to polish the API, and add some other cool features (which were nearly impossible to implement in the current version, see below). The downside is

[2015-01-18 18:07] kaendfinger commented on #61
@luizmineo I like to donate to people who do amazing things with Dart btw, so if you would like to open up a donation page, I would be glad to help!

[2015-01-19 05:07] cgarciae opened #66 "How to serve files stored in Mongo Dart's GridFS?"
By any chance, do you happen to know how to efficiently serve files stored in GridFS? Currently I have this code that works

[code]
BUT I have to create an actual `File` in the system and it seems very inefficient (almost killing the whole purpose of using GridFS), apart that I have to worry about deleting it later (which doesn't seem straight forward in Redstone since I need the last `Future` to

[2015-01-19 10:36] luizmineo commented on #66
Is there a way to read the data as a `Stream<List<int>>`? If so, you can create and return a `shelf.Response` object directly. Example:

[code]

I'm not familiar with the GridFS API, but maybe you can receive a proper answer opening a issue for [mongo-dart](https://github.com/vadimtsushko/mongo_dart), or asking for help in StackOverflow.

[2015-01-19 14:44] cgarciae commented on #66
Thanks! Manage to create a Stream<List<int>> to serve the data with shelf! I'll expand the wiki with my test code if anyone needs it.

[2015-01-19 14:44] #66 closed

[2015-01-20 22:22] austincummings opened #67 "Errors when trying to dispatch MockRequest"
Hey, I am receiving the following errors when I try to make a MockRequest to a route I have configured. All parameters should be set up correctly.

[code]

[2015-01-20 23:15] luizmineo commented on #67
can you share your test code?

[2015-01-20 23:18] austincummings commented on #67
Here you go,

[code]

[2015-01-20 23:22] luizmineo commented on #67
Thanks! Try to move the setup() and tearDown() calls to the setup and teardown stages of your test:

[code]

[2015-01-20 23:27] austincummings commented on #67
Works. Thanks!

[2015-01-20 23:27] #67 closed

[2015-01-28 16:42] austincummings opened #68 "Dependencies conflict with angular.dart dependencies"
Hey @luizmineo,

I have a Dart app that is using your package and Angular.dart. Now when I go to run `pub get --verbose` I get an error about `route_hierarchical` clashing between redstone and angular. I was hoping you could update your dependencies so that these clashes won't happen anymore.

Thanks!

pubspec details
[code]
Error message
[code]

[2015-01-28 23:11] sonoranDesert opened #69 "Get fqdn in the request object"
Is there are way to get the fqdn or hostname requested by the client?

I see that I can look at app.request.url and app.request.url.path, but I need the actual server name / hostname from the request.

For example, if my redstone app serves a request for http://example.com/myresource, I know that app.request object has the "/myresource" string, but there is now way to get "example.com".

I need th

[2015-01-29 03:50] digitalfiz commented on #69
You should be able to get it via:

[code]

[2015-01-29 04:00] cgarciae opened #70 "Upgrade analyzer dependency"
I am getting this error when adding `async_await` to the dependencies

The weird thing is that the new dependency `async_await` does not appear on the error, which leaves you to wonder why it doesn't appear without it. Anyway, is it possible for you to upgrade the analyzer constraint? As you see, if you use `0.15.0` and above it falls within the `angular` and `di` range.

Thanks!

[2015-01-29 19:23] #65 closed

[2015-01-29 21:24] cgarciae opened #71 "redstone_mapper build error"
First time I build in a long time. I am getting this error:
[code]

[2015-01-29 21:39] cgarciae commented on #71
Error appears to come from another source.

[2015-01-29 22:00] cgarciae commented on #71
I am getting this with different settings. Sometimes build succeeds but I dont get `main.dart.js`.

[2015-01-29 23:29] luizmineo commented on #70
Please upgrade to angular.dart 1.1.0. Angular 1.0 actually uses a lower analyzer version than async_await.

[2015-01-30 00:34] luizmineo commented on #68
Thanks! Fixed in v0.5.20.

[2015-01-30 00:41] luizmineo commented on #71
Can you post your pubspec.yaml file?

[2015-01-30 05:07] cgarciae commented on #71
[code]

[2015-01-30 22:24] cgarciae opened #72 "Redstone mapper transfromer not building main.dart.js"
After a tough debbuging session, I found that creating a field like this

´´´dart
@Field() Map map;
´´´
confuses the Redston mapper transformer into not compiling the main file. I'll expand the wiki to warn against this if the fix is not trivial.

[2015-01-31 12:53] luizmineo commented on #72
Thanks! I've published redstone_mapper v0.1.12 with a fix for this.

Also, be sure to upgrade to redstone.dart v0.5.20. If you are also using angular, please upgrade to v1.1.0.

[2015-01-31 12:53] #72 closed

[2015-01-31 12:56] luizmineo commented on #71
I've recently updated redstone.dart to match the dependencies of angular 1.1.0 and async_await, so just try to run `pub update` in your project, and see if that fixes the problem.

[2015-01-31 12:57] #68 closed

[2015-01-31 12:58] luizmineo commented on #64
Closing this issue, but let me know if you still has problems or doubts.

[2015-01-31 12:58] #64 closed

[2015-01-31 13:05] luizmineo commented on #69
You can access the complete url through the `shelf.Request` object:

[code]

Let me know if that helps

[2015-02-01 17:52] Pacane opened #73 "Route handlers not scanned when not located in main.dart"
I'm trying to do this:

[code]

and the server starts fine, but doesn't register the `GET` handler on `/`. I tried adding this
[code]

just before the call to `start()` but it won't help.

Do I really have to keep the annotations in main.dart ?

[2015-02-01 18:02] luizmineo commented on #73
No, you don't. But you need to annotate your classes with `@Group`

Example:

[code]

Or:

[code]

[2015-02-01 18:23] Pacane commented on #73
Thanks, got it working! Also, nice job on this framework, it looks very good, and the documentation is pretty nice. Keep up the good work.

[2015-02-01 18:23] #73 closed

[2015-02-06 17:21] cgarciae opened #74 "Use Factory Pattern to enable Polymorphism with a Hint Field"
Say you have the abstract class

[code]
And the subclasses
[code]
Given MongoDB's flexibility, it would be nice if you could have a JSON with a list `View`s and decoded to a `List<View>` like this
[code]
but each view was decoded to a `TextView ` or `MultimediaView `. I use a package in C# with uses a `hint` field and passes it to the parser. The hint field contains as a `String` the name of the c

[2015-02-08 02:11] luizmineo commented on #61
The first alpha release is available for test. See https://github.com/luizmineo/redstone.dart/tree/v0.6

[2015-02-08 02:34] kaendfinger commented on #61
Thanks!

[2015-02-08 02:34] #61 closed

[2015-02-08 10:27] luizmineo commented on #53
The first alpha release of Redstone v0.6 is available for test: https://github.com/luizmineo/redstone.dart/tree/v0.6

[2015-02-08 10:27] luizmineo commented on #71
If you still have any problems or doubts, please let me know.

[2015-02-08 10:27] #71 closed

[2015-02-08 10:28] luizmineo commented on #70
If you still have any problems or doubts, please let me know.

[2015-02-08 10:28] #70 closed

[2015-02-08 10:29] luizmineo commented on #69
If you still have any problem or doubts, please let me know

[2015-02-08 10:29] #69 closed

[2015-02-08 10:30] luizmineo commented on #37
The first alpha release of Redstone v0.6 is available for test: https://github.com/luizmineo/redstone.dart/tree/v0.6

[2015-02-08 10:33] luizmineo commented on #74
This is a pretty cool feature indeed. I'll take a look at it and let you know.

[2015-02-08 18:45] cgarciae commented on #70
It seemed to work great. Thanks a lot!
ᐧ

[2015-02-08 19:00] cgarciae commented on #74
@luizmineo Reflecting a little bit, since Redstone Mapper uses annotations it might not be necessary to  pass the hint field name to `decodeJson`, instead have it "reflect" to see if the parent class (`View` in this case) has a parameter annotated with `@Hint()`, and if it does use that name. In case no hint field is provided, just decode to the parent class as normal.

[2015-02-10 22:52] austincummings opened #75 "Help: Using redstone_mapper with redstone_mocks, having issue with null body"
Hi @luizmineo,

I'm trying to implement a RESTful web service. I'm using your framework for the routing, mapping, and unit testing.

So I have this `Query` type that I declare 4 fields in, `id`, `owner`, `sqlSource`, and `markedForDeletion`. I also have a group to define the REST resource.

[code]

As you can see, I want the Route to automagically decode the `Query` in the body. I'm testing it usi

[2015-02-10 23:17] austincummings commented on #75
I believe I solved it already. I was calling `bootstrapMapper()` rather than `web.addPlugin(getMapperPlugin())`

[2015-02-10 23:17] #75 closed

[2015-02-11 19:11] austincummings opened #76 "Question: Routes with optional extension"
Hello again,

First off I would like to say I've been using your library for awhile and it is absolutely great to work with. Now I was wondering if there is a way to have a route that has an optional extension/suffix. I see that the `@DefaultRoute` annotation has a `pathSuffix`, but I would like to have one route that catches `/queries/1.json` and `/queries/1`. Then have that route run the same lo

[2015-02-12 00:46] luizmineo commented on #76
Try this:

[code]

Maybe not a proper solution, but it works.

[2015-02-12 01:29] austincummings commented on #76
That works for me. Thanks.

[2015-02-12 01:29] #76 closed

[2015-02-19 16:29] cgarciae opened #77 "Error when uploading text file through multipart request"
I've setup my route to accept file uploads
[code]
and it works fine for most file types except "text" files like `.txt` or `.xml`. I specifically need to upload an xml as a normal file to store it in `GridFS` so my clients can download the file later. I am getting this error
[code]
It seems that its interpreting the file as a `String`.

[2015-02-19 17:29] cgarciae opened #78 "Breaking change with `encode` and `decode`?"
I've recently checked the documentation and notice that the new functions `encode` and `decode` are being promoted as a replace for `encodeJson` and `decodeJson`.

1. No example was given on how to use `decode`
2. Can you still use `encodeJson` and `decodeJson`? If not, it would be better to deprecate methods and create new ones instead of refactoring as to give people a chance to migrate without

[2015-02-19 18:21] luizmineo commented on #78
Actually, `encodeJson` and `decodeJson` are newer than `decode` and `encode`, and they aren't replacements, but auxiliary functions

* `encode` and `decode` produces and consumes `Map` objects
* `encodeJson` and `decodeJson` produces and consumes `String` objects. They are useful if you don't want to invoke the JSON codec from `dart:convert`, to translate between JSON strings and Map objects.

[2015-02-19 18:31] cgarciae commented on #78
Ohh, great to hear. I was surprise by the change tho. Thanks!

[2015-02-19 18:31] #78 closed

[2015-02-19 19:39] cgarciae commented on #74
Just checked an `JsonFx` (the C# library) doesn't use a hint field on the class, the field appears on the json when *encoded*, and it is expected when *decoded*, but the actual object doesn't contain it.

[2015-02-23 22:39] cgarciae opened #79 "Mapper Error: The null object does not have a getter 'isDartCore'."
I am getting this error when I try to build. I really don't know what may cause it but it fatal since I cant deploy :(
[code]

[2015-02-23 22:40] cgarciae commented on #79
This is my main file
[code]

[2015-02-24 02:45] luizmineo commented on #79
Try to add a library directive to your main script. Example:

[code]

You can also heck if all imported scripts has a library directive.

[2015-02-24 02:58] luizmineo commented on #77
If the form element was read as a String, then the request is not multipart, or the corresponding form element is a text input, not a file input. Check if the form used to upload the file has the `enctype='multipart/form-data'` attribute, and the corresponding element is a file input.

[2015-02-24 16:33] cgarciae commented on #79
Thanks, will try.

[2015-02-24 16:55] cgarciae commented on #79
@luizmineo I pinned it down and found the problem (again) is
[code]

[2015-02-26 21:01] austincummings opened #80 "Use enums for HTTP methods."
All HTTP methods under `package:redstone/server.dart` are just const strings. These should be enum's for when that functionality lands. It would also be cool if all HTTP methods could be put into this new enum.

[2015-02-26 22:37] luizmineo commented on #80
[Redstone v0.6](https://github.com/luizmineo/redstone.dart/tree/v0.6) already uses enums for data types (json, form, text...). Although, since the [http protocol](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) doesn't restrict the method types that a request can use, I didn't find it safe to restrict Redstone to the common methods.

[2015-02-26 23:31] austincummings commented on #80
Ah, makes sense. Then would it be possible to get the rest of the common HTTP methods declared as `const String`'s  then? For example the methods shown [here](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.2).

[2015-02-27 01:42] luizmineo commented on #80
Yes, that's a good idea. Thanks

[2015-02-28 15:19] luizmineo commented on #80
Fixed in [v0.6.0-alpha.3](https://github.com/luizmineo/redstone.dart/tree/v0.6)

[2015-03-02 04:07] cgarciae commented on #77
@luizmineo Sadly `enctype` is `multipart/form-data` and the input is of type file. Somewhere along the way its converting text files to string.

[code]

I am doing something like this to send the form
[code]
where form is the `FormElement`.

[2015-03-02 04:59] cgarciae opened #81 "Pluggin annotation to authenticate"
Currently I am using an interceptor on all `/private/.*` and check against a session variable to authenticate, but now I wan't create a `@Private()` annotation that checks the `Authorization` header and verifies on MongoDB that the user exits. This is what I've tried so far
[code]
Notice that I am trying to use `async`. On one hand I am not getting an error, which give the approach some hope, on t

[2015-03-02 05:04] cgarciae commented on #81
Ok, I just saw a bug. I think this will work!

[2015-03-02 13:51] cgarciae commented on #81
Ok, fixed it. The trick was to use `return` instead of `throw`.

[2015-03-02 13:51] #81 closed

[2015-03-03 06:40] cgarciae opened #82 "Update with override false is overriding"
I am doing a `PUT` method where `user` is really **delta** user in the sense that it only contains the changes to the user, in most cases only one field *is not*  `null`. For this I was using
[code]
but everything is being overwritten. My user class is

[code]
I even get a `Mongo Dart` error for trying to set `_id` to `null`. I tried to solve the problem by encoding to a map with `MongoDB.encode`,

[2015-03-04 02:27] luizmineo commented on #79
The problem here is that the `map` field has no type parameters (for example: `Map<String, MyObject> map`). I've published redstone_mapper v0.1.13 with a fix that prevents the transformer from crashing in this case, but it's still unable to properly encode or decode Map and List objects without type parameters.

[2015-03-04 02:28] luizmineo commented on #82
Thanks for the report! I've published redstone_mapper_mongo v0.1.3 with a fix for this.

[2015-03-04 23:02] cgarciae opened #83 "Request never finish if error is thrown in async function"
Here is a minimal case
[code]

[2015-03-04 23:04] cgarciae commented on #82
Thanks!!

[2015-03-04 23:06] cgarciae commented on #79
Yeah, I used it to see if a could avoid creating a class for the time being, but I don't think it would be a good practice.

[2015-03-04 23:36] cgarciae commented on #82
This still has issues. While it worked if you only update a single layer structure, updating hierarchical structures produces this error on mongo:

[code]
Here is my test, the problem arises in target_record, presumably setting its name variable.
[code]

[2015-03-05 07:09] cgarciae commented on #83
I created this plugin to handle this
[code]
I love plugins! However, Redstone should handle this by default.

[2015-03-05 11:09] luizmineo commented on #79
Can you confirm that the fix solved the problem for you?

[2015-03-05 11:13] luizmineo commented on #82
It seems that mapper is generating more than one `$set` modifier for the same object. I'll test this better during this weekend.

[2015-03-05 11:14] luizmineo commented on #83
Thanks for reporting.

[2015-03-05 14:20] cgarciae opened #84 "Execution order of plugins"
I have two plugins: `Catch` and `Private`; they are both implemented around a `addRouteWrapper`. Catch catches errors and returns them as a String inside a custom `Resp` object. Private checks for some auth parameters in the headers and verifies them in mongodb. A typical use case would be
[code]
I noticed that depending on how I order the decorator tags the end result is different, more specifica

[2015-03-07 22:32] luizmineo commented on #82
a new release (v0.1.3+1) of redstone_mapper_mongo was published with a fix for this.

[2015-03-07 23:37] cgarciae commented on #82
Worked great!!! Thanks :)
Very useful fix.

[2015-03-08 14:18] luizmineo commented on #77
You are right. text files are being converted to strings. To keep compatibility with the `http_server` package, I've changed `HttpBodyFileUpload.content` to dynamic. This fix is available in Redstone v0.5.21

[2015-03-08 14:18] #77 closed

[2015-03-08 14:18] #79 closed

[2015-03-08 14:18] #82 closed

[2015-03-08 14:19] luizmineo commented on #83
I've released v0.5.21 with a fix for this. Please confirm.

[2015-03-08 14:19] #83 closed

[2015-03-08 14:19] #80 closed

[2015-03-08 14:25] luizmineo commented on #84
The API doesn't guarantees any specific execution order. If you run this code in v0.6, for example, you will get a different result, since it has a different implementation.

[2015-03-08 19:18] cgarciae commented on #84
Thanks, will program according to this.

[2015-03-08 19:18] #84 closed

[2015-03-08 19:21] cgarciae opened #85 "Weird: MockRequest is not UnparsedRequest."
Believe it or not, I am not able to run unittest since the last upgrade because of this
[code]
now `dispatch` wont work. I checked the type and `MockRequest` does implement the `UnparsedRequest` interface. But somehow it not working!

[2015-03-08 19:25] cgarciae commented on #85
Forget about this. I was importing like this
[code]
because I was trying to put the tests inside a subfolder of `/bin` on windows. Gave up on that, so they are now on bin and I can use `package:` as always.

[2015-03-08 19:25] #85 closed

[2015-03-10 05:26] cgarciae commented on #82
There still an issue in this case: setting nested objects that where previously `null`
[code]
Produces this error on Mongo
[code]

[2015-03-10 05:28] cgarciae commented on #83
Worked :)

[2015-03-10 06:02] cgarciae opened #86 "Better stack trace for debugging"
Any chance you can include [stack_trace] (https://pub.dartlang.org/packages/stack_trace) when running the server?

[2015-03-10 06:03] cgarciae commented on #86
Especially useful `Chain.capture`

[2015-03-11 19:41] cgarciae opened #87 "redstone_mongo_client"
I have `POST`, `PUT`, `GET`, and `DELETE` routes inside `MongoDBService`s with app.Group that do the obvious for most of my database objects. Taking the MeteorJS approach to create a MongoDB client on the client/browser would take this pain away. The idea would be to create a single group (`/mongoServices`) that handles all the MongoDb requests (`/mongoServices/:collection/find`, `/mongoServices/:

[2015-03-12 00:13] cgarciae opened #88 "Annotations in abstract classes confuse Mapper"
I have this hierarchy of classes (here simplified). Once `Ref` was a normal class but not its abstract, and as you see it has a `@Field()` annotation.
[code]
For some strange reason when encoding `NormalVista` a was getting `href` with the id included but not the `id` field itself in the JSON. It had to be there because `href` showed it, but the mapper wasn't including it.

The error is solved by

[2015-03-12 00:34] cgarciae commented on #77
Hadn't seen this. Thanks a lot!!! I'd been creating extensionless files as a fix. Will test right now :)

[2015-03-12 23:17] austincummings opened #89 "How to use manager.addRouteWrapper?"
Hi @luizmineo,

I'm trying to use `addRouteWrapper` to create shorthand route declarations. Ideally I would like to use them like so...

[code]

Right now I just have this and I can not get any further. No route is created, surely I'm using this wrong. Any help would be greatly appreciated.
[code]

[2015-03-14 18:37] cgarciae commented on #77
@luizmineo The `.content` problem was solved, but now I am getting a similar problem when trying to upload an xml
[code]
Now `.data` is the problem.

[2015-03-15 00:19] wstrange opened #90 "Enable routing to shelf_handlers"
Perhaps this just a documentation thing, but it is not obvious how to route to a shelf handler.

How do I arrange for a *specific* route to be handled by a shelf handler instead of a "redstone" handler?

Let's say I have a shelf oauth2 callback handler.  I want  "/oauth2/callback" to be handled by the shelf handler.  The current mechanism seems to route to shelf only when all other handlers have b

[2015-03-16 22:42] luizmineo commented on #89
You can't use a wrapper to create a route, it can only be applied to existing routes.

It's possible to search for functions annotated with your custom annotation, and create routes for them, although, you'll need to implement the parameter binding yourself.

[2015-03-18 15:49] cgarciae opened #91 "gzip"
Is it possible to gzip served files? I hear that the `http` server can automatically compress files, can Redstone do this with Shelf?

[2015-03-19 18:04] danschultz opened #92 "A matcher for all routes with a path parameter"
I'm trying to define a route that matches everything, but also passes the path as a param to its annotated function. For example:

* /: `path = ""`
* /foo: `path = "foo"`
* /foo/bar: `path = "foo/bar"`

I tried the following, and it works for sub-paths, but fails on root `/`.

[code]

Is this possible with Redstone?

[2015-03-20 17:39] cgarciae opened #93 "cookies or headers bug"
I've been trying to do a basic test with cookies with no luck. Here is my code

[code]
The browser doesn't receive the Set-Cookie header. However, it works if you return a `shelf.Response` with its headers set
[code]

[2015-03-20 20:15] cgarciae commented on #93
@luizmineo
Tried digging in the source code to fix the problem. My hypothesis is that the `shelf.Response` modified in the route is not being used because if the response of a route is NOT a `shelf.Response` a new `shelf.Response` is created using the output value from the route's function, but doesn't carry the headers set during the routes execution.
Redstone is a little hard to understand since

[2015-03-21 20:34] cgarciae commented on #92
What are you trying to accomplish? An Interceptor or route decorator plugin might what you need.

[2015-03-21 21:18] danschultz commented on #92
I'm trying to write an isomorphic Dart app using React. I'd like Redstone to respond to any path, and pass the path into a React component which will handle the routing.

[2015-03-21 21:29] cgarciae commented on #92
How about
[code]

[2015-03-21 22:00] cgarciae commented on #23
@luizmineo
Regarding `di` and `unit-testing`, how can you mock and insert a `MongoDb dbConn` found in `app.request.attributes.dbConn`.

[2015-03-22 01:34] danschultz commented on #92
That works, but I also need access to the path in order to pass it into my server-side React component which is handling the routing. I tried the following, but I get a 404:

[code]

[2015-03-22 01:56] cgarciae commented on #92
Is this enough?

[code]

The `url` IS the path.

[2015-03-22 02:15] luizmineo commented on #92
The following example works fine in [v0.6.0-beta.1](https://github.com/luizmineo/redstone.dart/tree/v0.6)

[code]

[2015-03-22 02:18] luizmineo commented on #90
Currently, there is no way to directly bind a shelf handler with a path, but you can wrap a shelf handler. Example:

[code]

Let me know if that helps.

[2015-03-22 02:20] luizmineo commented on #86
Thanks for reporting. This is already implemented in [v0.6.0-beta.1](https://github.com/luizmineo/redstone.dart/tree/v0.6)

[2015-03-22 02:29] luizmineo commented on #93
This is the expected behavior. Shelf messages (request and response) are immutable, and the `change()` method always creates a new instance.

[v0.6](https://github.com/luizmineo/redstone.dart/tree/v0.6) has a better library layout, which are easier to understand. I suggest that you explore this version instead of the current code base.

[2015-03-22 02:29] luizmineo commented on #77
Can you try this in [v0.6.0-beta.1](https://github.com/luizmineo/redstone.dart/tree/v0.6)?

[2015-03-22 02:39] cgarciae commented on #77
@luizmineo Ok, I'll get that version. Any braking changes?

[2015-03-22 02:41] luizmineo commented on #77
Yes. Check the [changelog](https://github.com/luizmineo/redstone.dart/blob/v0.6/CHANGELOG.md) for details

[2015-03-23 09:03] danschultz commented on #92
Sorry @cgarciae, I overlooked `app.request.url`. I'll give that and v0.6.0 beta a try.

[2015-03-24 17:16] cgarciae opened #94 "Streaming text in Redstone/Shelf"
From SO: http://stackoverflow.com/questions/29238873/streaming-text-in-redstone-shelf
It just occurred to me that it would make sense to stream strings, each representing an element from a database query instead of returning the whole list of them at the end of the process, this might get the first result earlier on the browser. So I tried to implement this with `Redstone` which uses `Shelf`. Here

[2015-04-06 20:51] cgarciae opened #95 "Redstone Mapper build error if other annotations are present on field"
Specifically the class looked like this

[code]
I got mapper errors on build and had to the the usual "comment code until it compiles" strategy. The `@override` annotations where auto generated by quick-fix when I was implementing the `AccessCredentials``interface. I don't really need them, but it shouldn't hurt to have them.

[2015-04-07 20:36] SatWiz opened #96 "WARNING: dart:mirrors support in dart2js is experimental, * and not recommended."
When convert to JS I having this warning for my project using package:redstone_mapper:

* WARNING: dart:mirrors support in dart2js is experimental,
*          and not recommended.
*          This implementation of mirrors is incomplete,
*          and often greatly increases the size of the generated
*          JavaScript code.

My question, is it save to use redstone_mapper in production?

[2015-04-07 22:13] austincummings commented on #96
You can get rid of this by adding `redstone_mapper` to the [transformers](https://www.dartlang.org/tools/pub/assets-and-transformers.html) section in your pubspec.yaml file.

[2015-04-08 07:01] SatWiz commented on #96
I saw that in the older docs. But it looks like it is not working in version 0.2.0-beta.1 which I used now. As I still get the warning with the redstone_mapper in the yaml_file.

[2015-04-09 15:53] SatWiz commented on #96
Are you still working on the 0.2.0 transformer and is it better to use previous version of the redstone_mapper for more stability?

[2015-04-11 17:54] cgarciae opened #97 "Contributors Getting Started"
Please build a getting started for people who want to contribute. I've skipped around the server code of the current release and the beta of the upcoming version, but without guidance its hard to understand.

[2015-04-11 19:10] cgarciae opened #98 "Lets keep Redstone alive"
@luizmineo, @alexpaluzzi, @austincummings, @bruci, @financeCoding, @garywu125, @IOT-DSA, @jriggins, @kaendfinger, @kristianmandrup, @lukasz-madon, @platelk, @RedRoserade, @RobertMcDermot, @ronlobo, @sdeleuze, @vicb, @willmitchell, @SatWiz, @danschultz, @wstrange, @skoky, @digitalfiz, @nistvan86, @Emasoft, @seaneagan, @Pacane, @sonoranDesert, @OzzieOrca, @Kleak, @prujohn, @avastou, @hyousef, @digiz

[2015-04-11 19:13] kaendfinger commented on #98
I'll offer to have it move to my DirectCode organization, and add anyone who wants to help assist in maintaining it (including me) can be added as collaborators.

[2015-04-11 19:13] kaendfinger commented on #98
Also, thanks @luizmineo for this, I will, with the rest of the people who want to, keep it alive :)

[2015-04-11 19:15] kaendfinger commented on #98
As long as others agree :)

[2015-04-11 19:19] cgarciae commented on #98
@kaendfinger Will moving Redstone to DirectCode will somehow make it private?

[2015-04-11 19:20] kaendfinger commented on #98
@cgarciae No, of course not. DirectCode is simply just a group of people who code cool stuff. I'll add anyone who is willing to become a maintainer to it, with full permissions.

[2015-04-11 19:21] kaendfinger commented on #98
https://github.com/DirectMyFile/redstone.dart

[2015-04-11 19:22] kaendfinger commented on #98
@cgarciae Do you have access to the repo?

[2015-04-11 19:25] cgarciae commented on #98
@kaendfinger Yes. I am fine with it. If we take this direction, please add me to DirectCode.

[2015-04-11 19:26] kaendfinger commented on #98
@cgarciae Added. Do you have access to move the repository, or are we going to fork it?

[2015-04-11 19:32] cgarciae commented on #98
@kaendfinger To move it we have to wait for Luiz to do this. He just posted the message this morning, maybe he will want to hear from the rest of the community before doing this. Lets see what he says :)

[2015-04-11 19:33] kaendfinger commented on #98
Ok. :) Sounds great. Thanks!

[2015-04-11 19:39] kaendfinger commented on #98
@luizmineo @cgarciae

A couple things, if my proposal is taken:

- @austincummings has offered to take over the sub-packages like redstone_websocket, and these would be moved to DirectCode as well.
- What will happen with the domain? I will pay for it, if it is transferred to me.
- We will have a clear roadmap, and everything will be driven by the community.
- I would need to be added as an upload

[2015-04-11 19:54] kaendfinger commented on #98
@luizmineo @cgarciae Along with my proposal, we could also move https://github.com/luizmineo/connection_pool

[2015-04-11 20:29] cgarciae commented on #98
@kaendfinger Thanks for your enthusiasm!

I think @luizmineo will actually like all this, maybe he was expecting it. I don't know how other open-source projects evolve, but there has to be a moment when the community takes over somehow.

I also propose this as a development model, the intention is to make it clear for the community what is going to be implemented next, what is missing, and what is

[2015-04-11 20:31] kaendfinger commented on #98
@cgarciae I like it.

[2015-04-12 03:10] luizmineo commented on #98
Guys, I'm really glad to see this movement to keep the project alive. It's truly amazing!

@kaendfinger I'll add you as a collaborator to each Redstone package. About the domain, I can keep paying for it, or I can transfer it if the community prefer this way. About the association level, I'm ok with your propose.
@cgarciae I'll write a topic about the internal code organization, and I can also try

[2015-04-12 03:14] kaendfinger commented on #98
@luizmineo Awesome! :) Thanks

Do you want me to fork it to DirectCode or would you prefer a move? A move would be easier (keep issues, wiki, and all) but I could fork if you prefer.

[2015-04-12 03:16] kaendfinger commented on #98
@luizmineo Another option is to keep it on here. But I picked up from your README you didn't intend that.

[2015-04-12 03:25] luizmineo commented on #98
@kaendfinger Yes, transferring it is the best option. I can transfer it to DirectCode, or maybe you can create a Redstone.dart organization. What do you guys prefer?

[2015-04-12 03:27] austincummings commented on #98
I think it'd be best for there to be a Redstone. dart organization. Just my
opinion though.

On Sat, Apr 11, 2015, 8:25 PM Luiz Henrique Farcic Mineo <
notifications@github.com> wrote:

[2015-04-12 03:27] kaendfinger commented on #98
@luizmineo An organization is what it will be :)

[2015-04-12 03:29] kaendfinger commented on #98
@luizmineo the organization is 'redstone-dart' you can transfer every redstone package there, oh and also, do you want to transfer connection_pool?

[2015-04-12 03:30] luizmineo commented on #98
Awesome. Let's transfer all the repositories.

[2015-04-12 03:33] cgarciae commented on #98
@luizmineo Please do! Something like a post in the Redstone blog on how certain key feature are implemented. I've read the the server implementation of `v0.5` and `v0.6` but I have no idea where certain critical things happen
*  Where is the actual route function/method called?
*  Where are the plugins/interceptors/error handlers called?
*  Where do you decide which function/route responds?
*  How

[2015-04-12 03:34] cgarciae commented on #98
@kaendfinger, @austincummings, @luizmineo
Redstone.dart organization sounds nice! Please add me :)

[2015-04-12 03:37] luizmineo commented on #98
done!

[2015-04-12 03:49] kubeliv commented on #98
I can't wait to see the future of redstone! I'm a member of DirectCode, by the way.

[2015-04-12 03:54] adam-singer commented on #98
I think the best bet is to make an organization for redstone and add the appropriate people who can help maintain it.

[2015-04-12 03:55] adam-singer commented on #98
nevermind, looks like that has already been done :100:

[2015-04-12 04:04] azenla opened #99 "Create v0.5 branch and move v0.6 to master"
Should we move the master branch to v0.5 and move v0.6 to master?

[2015-04-12 04:05] azenla commented on #99
cc @cgarciae @austincummings

[2015-04-12 04:06] cgarciae opened #100 "Roadmap"
Really happy with the new (social) direction Redstone has taken.

In #98 @kaendfinger proposed the creation of a roadmap and I proposed a (TDD) development model based on defining features first, then creating broken features and broken tests, and leaving the implementation to the community (us).

Where shall we create this roadmap? Shall we call it release and use the Milestone? @luizmineo should

[2015-04-12 04:06] azenla commented on #17
@seaneagan Is this still relevant? I'm sure @redstone-dart/owners would love to look into this.

[2015-04-12 04:08] azenla commented on #100
@cgarciae It should probably be in the repository. I'll make one. Also, @luizmineo uses drone.io for redstone already. Personally, I would like to move to Travis for simplicity. I'll file another issue for this.

[2015-04-12 04:09] azenla opened #101 "Use Travis CI"
Currently drone.io is setup for redstone. Should we move this to Travis CI?

[2015-04-12 04:09] azenla commented on #98
With this, I believe this can be closed! Thanks so much @luizmineo for making this! I am happy to be on board.

[2015-04-12 04:09] #98 closed

[2015-04-12 04:12] #99 closed, assigned to nobody

[2015-04-12 04:12] austincummings opened #102 "The future of Redstone (change control and stuff)"
Hello everyone,

Now that this project is driven by the community (and 7 of us have the ability to push changes), I think it's best if we define some processes (fun huh?) in order to keep this project in the nice state it has been. In my experience we need the following:
- Bug priority tracking
- Feature proposal process
- A clear cut roadmap with milestones
- Change control

If any of you can thi

[2015-04-12 04:13] cgarciae commented on #99
@kaendfinger I don't know, will this affect people that have bugs for the current stable version? Will this affect people on pub? I think we should have the master be the latest stable version.

[2015-04-12 04:14] cgarciae commented on #101
I think the reason is that only Drone.io support Dart. Investigated this issue for myself a few week ago. But would hurt checking again.

[2015-04-12 04:15] azenla commented on #102
@austincummings Bug priority tracking is good. I propose we have 3 priorities, and use labels of P1, P2, P3.

[2015-04-12 04:15] austincummings commented on #99
I agree with @cgarciae, we need to ensure that v0.6 is absolutely stable and will not introduce new bugs. I don't think any of us want our code to suddenly be broken when we go in to work on Monday.

[2015-04-12 04:15] austincummings commented on #99
We should also resolve all current issues in the issue tracker before we move forward.

[2015-04-12 04:16] azenla commented on #99
Ok. Sound sgood :)

[2015-04-12 04:16] azenla commented on #99
I opted for a bit different thing. we have 2 branches: v0.6 and v0.5. No master. v0.5 will be the default branch.

[2015-04-12 04:17] azenla commented on #101
@cgarciae Travis CI does support Dart. http://docs.travis-ci.com/user/languages/dart/

[2015-04-12 04:19] cgarciae commented on #102
@kaendfinger Nice!

How about a `v0.6.md` to define features, goals, intentions, etc, in words and code snippets. We can discuss its content in an issue.

[2015-04-12 04:19] azenla commented on #102
Labels P1, P2, P3 have been added.

Feature proposal process, we will probably need to discuss this thoroughly.

[2015-04-12 04:19] azenla commented on #102
@cgarciae Sounds good! In the v0.6 branch?

[2015-04-12 04:20] austincummings commented on #102
@kaendfinger So which is highest priority? Maybe Low, Med, and High are better for this?

[2015-04-12 04:22] azenla commented on #102
@austincummings Good idea. I'll do that. I got this idea from dartdoc's repo, which has P1-P3

[2015-04-12 04:22] cgarciae commented on #102
@kaendfinger Lets all work in the `v0.6` branch but create a new folder structure like this
`roadmaps/v0.6.md`

[2015-04-12 04:23] azenla commented on #102
Ok :)

[2015-04-12 04:25] azenla commented on #102
@cgarciae https://github.com/redstone-dart/redstone/blob/v0.6/roadmaps/v0.6.md

[2015-04-12 04:27] austincummings commented on #102
As for change control I think we need to have code be reviewed before it is committed to the default branch. Make the change in a branch and submit a pull request which will trigger the review process. Also each change should be associated with an issue. This may be a bit cumbersome but it will truly improve the quality of the code.

Edit: For typo fixes and stuff like that we don't need a review.

[2015-04-12 04:29] azenla commented on #102
@austincummings PRs are issues but with a patch for it. I disagree with every change to an issue. Bugs should have issues, but not everything.

[2015-04-12 04:30] azenla commented on #102
@austincummings: Your edit solves that comment :)

[2015-04-12 04:30] austincummings commented on #102
@kaendfinger, oh right. I've been using svn for too long.

[2015-04-12 04:30] azenla commented on #102
:)

[2015-04-12 04:32] austincummings commented on #102
Each major, minor, but not trivial change shall have an issue associated with them.

@redstone-dart/owners Everyone agree with this?

[2015-04-12 04:33] mbullington commented on #102
Sounds good.

[2015-04-12 04:34] azenla commented on #102
I agree. Trivial should be clearly defined. As I see it, this is what defines trivial:
- Not a feature
- Not a code fix
- Documentation typos
- Other typos

[2015-04-12 04:36] cgarciae commented on #102
@kaendfinger @austincummings
The Github App for windows has me a little confused with the new permissions. Do I fork into **cgarciae** or is there a better way?

[2015-04-12 04:38] azenla commented on #102
@cgarciae For committing, you can just create a branch on this repository from the v0.6 branch. That's what I did with #103

[2015-04-12 04:40] cgarciae commented on #101
@kaendfinger Great! I've never setup travis myself. I'll dig into this. It might take some time while I learn. If somebody has experience with travis it might be quicker.

[2015-04-12 04:44] austincummings commented on #102
@kaendfinger
That definition works for me.

@cgarciae so I think creating a branch and then making a pull request to the main branch should work to get the code review process going. If it's a trivial change you can skip the review process

[2015-04-12 04:47] cgarciae commented on #102
@kaendfinger @austincummings
Ok, sounds a little scary. I like the isolation forks provide, I guess branches also provide that isolation but you have to be more careful. (Sorry for the paranoia, I work with a close friend who is really bad at Git so I am always scared of him committing directly)

[2015-04-12 04:49] austincummings commented on #102
@cgarciae I see your point. I have absolutely committed to the wrong branch before. I agree creating a fork on our own user accounts would be best to avoid any trouble.

[2015-04-12 04:49] azenla commented on #102
@cgarciae Oh I fully understand :) You can fork it if you want, but you don't have to :)

[2015-04-12 05:12] cgarciae commented on #100
@redstone-dart/owners
The roadmap has been created under `roadmaps/v0.6.md`. Here is the place to design/document the expected features for the `v0.6` release, get updated on what is missing, discussion on the content could be done through issues. @kaendfinger @austincummings I think changes to this document should always be reviewed.

As for the development model, the proposal is this:
-  Should

[2015-04-12 05:22] cgarciae opened #106 "Development Model"
The current proposal is this:
-  Should be release/milestone based
-  Features for each release/milestone should be defined in the roadmap
-  Each feature should be implement **broken** first. Might be in the form of a new class with empty methods, new empty methods on an existing class, or an empty branch of code on an existing method.

Example:

[code]
-  **Empty** test for each feature should b

[2015-04-12 05:27] azenla commented on #106
I like it. Although, I would like to point out that we should always follow the Dart Style Guide.

[2015-04-12 05:28] azenla commented on #106
Also @cgarciae, we have the `meta` label for issues that deal with non-code/documentation stuff, like this.

[2015-04-12 05:28] cgarciae commented on #99
@kaendfinger Is no master possible? Sounds taboo! I think its culturally accepted that the master is what works and that other branches are things in development. It might confuse people. Then again, its just a name. I think more people should look into this.

[2015-04-12 05:30] azenla commented on #99
@cgarciae Yes, projects do this sometimes. Such as https://github.com/dart-lang/test, which has a stable branch instead of master.

[2015-04-12 05:32] cgarciae commented on #106
@kaendfinger Totally agree on the style guide. If I made/make any errors, please tell me :)
Will use tags, sorry, I don't regularly tag issues.

[2015-04-12 05:33] cgarciae commented on #106
@kaendfinger Should we include development information like this at the end of the roadmap? Maybe like some standard conventions on how to write code and develop.

[2015-04-12 05:34] azenla commented on #106
@cgarciae No problem, I don't use them much either, but I think for something this popular it is necessary.

This is what it looks like with the Style Guide:

[code]

[2015-04-12 05:35] azenla commented on #106
https://www.dartlang.org/articles/style-guide/

[2015-04-12 10:23] Scorpiion commented on #98
Hi, things are moving forward quickly here, sorry to hear that you will not have so much time any longer to put on open source Dart projects @luizmineo. I hope what other things you have planned will go your way. Thanks for all the time and effort you have put into this project. :)

At the same time I must say it's fun to see the enthusiasm from you guys @kaendfinger and @cgarciae! I think Redston

[2015-04-12 10:43] Scorpiion commented on #101
What things does Travis CI do better than Drone.io? Just a little curious.

[2015-04-12 10:48] Scorpiion opened #107 "Make list of organization members public"
As an open source projects I only see benefits with showing the members of the org. If you are a member  you maybe can see it but to the public you can't see anything right now. The project looks more alive I think when you can see the list of members.

For references you could open up these three links in incognito:
- https://github.com/polymer
- https://github.com/dart-lang
- https://github.com/

[2015-04-12 11:06] oskbor commented on #17
Maybe the https://pub.dartlang.org/packages/rpc package can be used? Its not RAML but fills the same purpose (generating a discovery document)

[2015-04-12 12:47] azenla commented on #17
@oskbor I'll surely look into it.

[2015-04-12 12:48] azenla commented on #107
@Scorpiion That's something we should really do. If I had the power to do it to everyone I would, but each member must do it.

@redstone-dart/owners Would you guys agree to this?

[2015-04-12 12:49] azenla commented on #98
@Scorpiion Great idea! If we could do that, it would be great. I can add you to the organization as well :)

[2015-04-12 12:50] Scorpiion commented on #98
Sounds good, would be happy to join the org! :)

[2015-04-12 12:53] Scorpiion commented on #107
@kaendfinger ah, I see, I did not think about that. Good idea to ask the others, then people can choose themselves. Can't really think of anything negative with it at all, just positive things.

[2015-04-12 12:55] azenla commented on #107
Yep! Some people don't like it, which is odd. I struggle with getting all the people on my DirectCode organization to make theirs public :P

Also, I plan on adding all of @redstone-dart/owners and @redstone-dart/contributors have access to DirectCode repositories.

[2015-04-12 12:58] Scorpiion commented on #107
Okay, I agree, it's a little odd, but if someone feels they don't want to, for whatever reason, that's okay too I think. :)

Thanks for adding me to the org @kaendfinger, I have updated my membership to public now.

Sounds like a nice idea that too.

[2015-04-12 12:59] Pacane commented on #98
Me too! :)

[2015-04-12 13:53] dzenanr commented on #98
I would like to join the project. I would be able to put few hours of work every week this summer. However, starting in September of this year, I will have more free time.﻿

[2015-04-12 14:04] azenla commented on #98
@dzenanr @Pacane Sure! You guys can PR for the time being. @redstone-dart/owners will need to decide how we determine who goes in what team.

[2015-04-12 14:12] Scorpiion commented on #98
Not sure how this process should work exactly, but I can vouch for @dzenanr for what it's worth. He has done a lot of good things with/for Dart and is the author of the book [Learning Dart](https://www.packtpub.com/web-development/learning-dart).

[2015-04-12 14:15] Pacane opened #108 "Website is dead"
.. as the title says.

[2015-04-12 14:18] Pacane opened #109 "Is there a way to get the ModuleInjector created by redstone.dart?"
I'm trying to use the same instance of a class injected in my Group but outside of redstone.dart.

See this for the whole explanation: http://stackoverflow.com/questions/29590217/singleton-in-di-dart

I can see that one is created by _ManagerImpl that is private. Or better, is there a way to have redstone use an external injector? I'd like to pass him mine or create a child of mine..

[2015-04-12 14:23] azenla commented on #108
@luizmineo Can you update the cname to point to the new repo?

[2015-04-12 14:23] azenla commented on #109
I'll look into it.

[2015-04-12 14:29] Pacane commented on #109
I think as @zoechi as pointed out on StackOverflow that a plugin could do this, since we get access to the manager, we could at least provide a setter there to I could use redstone's injector in my app? What do you think?

[2015-04-12 14:31] dzenanr commented on #98
Thank you Robert @Scorpiion.

[2015-04-12 14:33] azenla commented on #98
Ok, sure thing, adding now.

[2015-04-12 14:34] Scorpiion commented on #98
Sounds good :+1:

[2015-04-12 15:04] luizmineo commented on #108
The website is a branch of the redstone repository,  which is served by github pages, so you can easily edit it (I think). I'm not in my computer right now, but I can take a look at it later, if you like to.

[2015-04-12 15:08] azenla commented on #108
@luizmineo The domain itself is probably CNAME'd to your own github.io domain. I think that's the issue.

[2015-04-12 15:19] luizmineo commented on #108
You are right, I've updated it to redstone-dart.github.io, now I'm not sure if it's is needed to update the organization config on github pages

[2015-04-12 15:20] azenla commented on #108
It should be good, thanks @luizmineo :)

[2015-04-12 16:19] cgarciae commented on #17
@kaendfinger actually I wanted to propose generating a Discovery Document by adding annotations, maybe for `v0.6`. @oskbor maybe we could make Redstone's annotations compatible with RPC's method for generating the Discovery Document, that way we don't have to implement it ourselves. I'll post on RPC to see what they think.

[2015-04-12 18:50] Scorpiion commented on #107
If anyone wonder how to change this, go here:
https://github.com/orgs/redstone-dart/people

And then there is a dropdown next to your name where you can choose "Public" or "Private".

[2015-04-12 19:56] cgarciae commented on #107
ᐧ
Thanks Robert. Changed mine to public.

[2015-04-12 20:02] Scorpiion commented on #107
:+1:

[2015-04-13 01:11] luizmineo commented on #108
The website is back online

[2015-04-13 03:41] OzzieOrca commented on #108
This can be closed

[2015-04-13 03:51] #108 closed, assigned to nobody

[2015-04-13 13:18] seaneagan commented on #17
fyi I posted a [similar request](https://github.com/dart-lang/rpc/issues/27) for the rpc package.  Perhaps code can be shared between the two projects for that.

[2015-04-13 22:33] austincummings opened #110 "Documentation page is broken"
The documentation page for the current 0.5 release is broken.

http://www.dartdocs.org/documentation/redstone/0.5.21/index.html#redstone

[2015-04-13 22:38] austincummings commented on #107
I think this can be closed now.

[2015-04-13 22:38] #107 closed, assigned to nobody

[2015-04-13 22:40] austincummings commented on #96
@SatWiz I would recommend using the previous version. This project is currently going through a ownership transition and we still need to learn the code.

[2015-04-13 22:51] azenla commented on #110
I'll check into this :)

[2015-04-14 04:03] azenla commented on #98
@luizmineo I am not an uploader for redstone packages.

[code]

If you can run that for each of the packages, I can upload new versions :)

[2015-04-14 04:11] azenla commented on #110
#112 will solve this when published (hopefully).

[2015-04-14 04:30] azenla commented on #101
Fixed! Sorry if I stole the thunder on this one, I just really like Continuous Integration :)

[2015-04-14 04:30] #101 closed, assigned to nobody

[2015-04-14 11:07] luizmineo commented on #98
done!

2015-04-14 1:03 GMT-03:00 Kenneth Endfinger notifications@github.com:

[2015-04-14 11:15] luizmineo commented on #101
Nice! I've disabled the drone.io hooks. Let me know if you need them back.

[2015-04-14 11:21] luizmineo commented on #101
By the way, I've noted that redstone_mapper isn't running the client side tests. I've used content_shell with drone.io (although, the support for it seems broken in recent versions), and pub serve during development.

[2015-04-14 12:43] azenla commented on #98
Thanks! :)

[2015-04-14 12:44] azenla commented on #101
@luizmineo Yes, I'm adding that now.

[2015-04-14 12:57] azenla commented on #109
@Pacane I think yes. I'll add this.

[2015-04-14 13:17] Pacane commented on #109
@kaendfinger Just so you know, this is how I'm working around it right now. http://stackoverflow.com/a/29592194/505810

[2015-04-26 22:02] cgarciae opened #116 "View Plugin"
I've created a plugin to render an html view based on `mustache` and `redstone_mapper`. The annotation tells the route of the HTML and the route returns an object encodable by redstone mapper. The plugin gets the value returned by route, encodes it into a map and renders with the view with `mustache` using that map.

I currently use it like this

[code]

Here I receive an object of the custom Emai

[2015-04-26 23:01] cgarciae commented on #116
I got this example working with groups

[code]

Implementation (not sure its really safe, I am (ab)using `request.attributes` to pass the base path from the `ViewGroup`.

[code]

[2015-04-27 01:18] azenla commented on #116
I like the idea. I'll review your code soon and then we can make this official :)

[2015-04-27 11:58] avstudios commented on #48
I'm trying to build Single Page App. The second example from https://github.com/redstone-dart/redstone/wiki/Shelf-Middlewares page works fine so far. I'm not only sure how to serve files from root directory if I use links like /page1, /page2 etc...

[code]

I'm guessing I need to write something like the bellow code but I'm not sure what should be in the childPage function body.

[code]

[2015-04-27 15:16] cgarciae commented on #48
Your code above is not needed. The shelf static middlewear will match files from the directory you asigned.

For example, if you set `web` as the parent folder and `index.html` as the default asset, given this folder structure

[code]

The route to `icon1.png` is `http://host/images/icon1.png`. Its somewhat intuitive.

[2015-04-27 19:39] avstudios commented on #48
@cgarciae maybe I was not clear enough. I set 'web' as root folder and when I type in the browser:

[code]

index.html and all assets are loaded and displayed correctly. This is my home page.

I have also have few subpages like page1, page2, etc.. and when I type:

[code]

I also would like to load index.html  and the assets from root folder. On the client side I'm using route_hierarchical lib so

[2015-04-30 22:30] sonoranDesert opened #117 "Is it possible to set up virtual hosts in Redstone?"
Like how the http_server package does:

http://stackoverflow.com/a/21087254/607036

[2015-04-30 22:32] azenla commented on #117
Not quite yet, but I will look into this ASAP.

[2015-04-30 22:38] cgarciae commented on #117
`app.start` returns an `HttpServer` so I am guessing this will work

[code]

[2015-04-30 22:41] #116 closed, assigned to nobody

[2015-04-30 23:20] sonoranDesert commented on #117
Thanks for the quick responses.

@cgarciae In my case I get a "Bad state: Stream was already listened to" error when trying to do that, but I'll dig into that idea some more.

[2015-05-01 01:04] cgarciae commented on #117
@sonoranDesert You can try this approach, should work

[code]

[2015-05-04 23:20] cgarciae commented on #117
I'll close this since @sonoranDesert failed to verify the answer.

[2015-05-04 23:20] #117 closed, assigned to nobody

[2015-05-08 14:09] Pacane opened #118 "web_socket_plugin & app engine"
Have you guys successfully deployed redstone with the web_socket_plugin to app engine managed vms?

I'got the the normal resources matching the end points, but it seems that on app engine (and even locally on gcloud) the requests never go to the methods

[code]

This snippet works fine when I launch the server without gcloud. However, when I check the logs at startup I see that RedStone did its se

[2015-05-08 14:10] #118 closed, assigned to nobody

[2015-05-25 20:13] graphicbeacon commented on #37
Hi, in response to your previous comment, I am having issues when I use async await in 0.5.21+. The code breaks whenever a completeError is returned from a Completer instance.

[code]

"Wrong username and password" is the error message returned from the completer. On the client I get a 500 error message.

Code looks like this:

[code]

And the second file:

[code]

As soon as the await at var logi

[2015-05-26 17:50] cgarciae opened #119 "Authorization to publish updates in pub"
I am trying to fix a small bug in the postgres plugin, but I dont have authorization to upload changes in pub.

[2015-05-26 17:52] azenla commented on #119
@cgarciae what's the email?

[2015-05-26 20:43] cgarciae commented on #119
cgarcia.e88@gmail.com

[2015-05-26 20:47] azenla commented on #119
@cgarciae Done :)

[2015-05-26 20:47] #119 closed, assigned to nobody

[2015-06-09 01:25] #89 closed

[2015-06-18 05:12] cgarciae opened #122 "Plugins not working within Groups in v0.6"
For test purposes I have this class

[code]

and this test route which decoded to JSON in `v0.5` but fails to decode in `v0.6`

[code]

If you extract the method `testTest` from the `Group` as a top level function

[code]

it works ok. @luizmineo any hints on this?

[2015-06-18 11:30] luizmineo commented on #122
It seems a bug in the Processor class, which implements the Manager interface. More specifically, take a look at [this method](https://github.com/redstone-dart/redstone/blob/v0.6/lib/src/processor.dart#L232)

Try to change it to:

[code]

I didn't test it myself, so I can't guarantee that this fix the problem.

[2015-06-18 12:21] cgarciae commented on #122
@luizmineo thanks! I'll do the change, test and update the repo.

[2015-06-18 18:15] cgarciae commented on #122
Worked!

[2015-06-18 18:15] #122 closed, assigned to nobody

[2015-06-18 18:46] cgarciae opened #123 "chain.forward not forwarding on v0.6"
I am doing a test for some other feature/bug concerning redirection, I found some other bug, `chain.forward` is not forwarding. Here are my routes

[code]

when the test calls `/test_wrapper/redirect` I get `A` printed on the screen forever, as if its "forwarding" to itself, it is very weird.

[2015-06-19 11:34] luizmineo commented on #123
The router library is responsible for handling http requests, and it contains the implementation of the Chain interface. Take a look at the forward method [here](https://github.com/redstone-dart/redstone/blob/v0.6/lib/src/router.dart#L454)

It seems that this method is handling urls completely wrong:

[code]

It should do something like this:

[code]

[2015-06-19 15:23] cgarciae commented on #123
Apart from small modifications, this code produces the same behavior: even if the new URL is the correct one, it triggers the old route.

[code]

My intuition is that `_forwardShelfHandler` but the inner workings of shelf are a mystery to me.

[2015-06-19 15:31] cgarciae commented on #123
I've created the branch `#123` with my changes if you want to look at them.

[2015-06-20 14:40] luizmineo commented on #123
_forwardShelfHandler is just a shelf handler that creates a new chain object, and executes it with the new request.

The problem is that the chain implementation is always looking to the original HttpRequest object when searching for handlers that match the request, instead of looking to the current shelf request.

I've made some changes that fix this behaviour, and it seems to work fine now, alth

[2015-06-20 15:11] cgarciae commented on #123
@luizmineo thanks a lot. I am using the redstone MVC plugin but had to implement some client scripts for redirecting, hopefully with this I won't need to.

[2015-06-20 17:33] #123 closed, assigned to nobody

[2015-06-26 14:50] marloncarvalho opened #125 "Dynamically change status code"
I know that I can statically change the status code using the **statusCode** attribute from the **Route** annotation. Although I think it's not enough. There are specific situations where it's important to dynamically change the returned status code.

For example, consider the REST principle that says that a PUT request should UPDATE a resource when it exists but that it should CREATE it when it d

[2015-06-26 22:29] cgarciae commented on #125
I like the idea but there are two implementation details I am not sure how to solve
1. That `statusCode(...)` would internally have to modify a top level variable which would have to be zoned (not sure if you get this for free in the current implementation)
2. I dont know the exact place where the shelf response is created with the status code (but I can search for it)

Also, aro you using `0.6`?

[2015-06-27 00:03] marloncarvalho commented on #125
I started using Redstone just a few days ago and I'm still using version 0.5.

I haven't seen anything about the internal implementation until now but I feel that I can guess something about the first point. In version 0.5 we have access to the current **response** object in each request so, in this case, isn't it possible to implement this feature using the same implementation or idea? I'm just g

[2015-06-27 00:26] cgarciae commented on #125
Yes you get access a response for your route but that is not the actual final response because it doesnt have your content, it might include the status code but its no use creating a response from that one unless you "respond" it (not good if you use plugins which expect normal objects).

[2015-06-27 00:46] marloncarvalho commented on #125
Another possible way to solve this problem is to implement something like what JAX-RS does in Java. JAX-RS allows us to return either a domain object (that will be serialized to JSON or XML) or a `javax.ws.rs.core.Response`. If you decide to return a `javax.ws.rs.core.Response` then you can use the `javax.ws.rs.core.Response.Builder` to create responses like this:

[code]

I don't know if this ide

[2015-06-29 00:47] cgarciae commented on #125
In redstone you can return a `shelf.Response` and it works as you want. You have to import the library `shelf` for this.

This approach has two main downsides:
1. It become hard/ugly for you to reuse code by calling other methods/functions because `shelf.Reponse`s are useless unless you parse them back to PODOs or something like that.
2. You loose the benefits from plugins like `redstone_mapper` (

[2015-06-29 18:05] marloncarvalho opened #126 "Can a Plugin decide which Route is gonna be called?"
I've been playing around with Redstone for a few days and my goal is to write a Redstone based RESTful API.

To accomplish it, I would like to create a simple mechanism responsible to handle API versioning. I'm thinking about creating an annotation like `@Version(version:'v1', strategy: 'header')` where the version attribute means the `version number` and `strategy` means where this version should

[2015-06-30 04:03] cgarciae commented on #126
I think one possibility is that you create a class annotation (say `ApiGroup`) that inherits from `Group` and just interpolate the `version` and the `urlPrefix` onto the `Group` super constructor. Example

[code]

The class should be defined something like

[code]

If you are really interested, I already have the `GroupController` and `DataController` in `redstone_mvc`. The `DataController`s are t

[2015-06-30 11:26] marloncarvalho commented on #126
Your approach is only one of two possible ways to control the API versioning. The `strategy` attribute's goal  is to control where the version data should be placed. It would be at the path like in `/api/v1/resource` or at the `Accept` header like in `application/vnd.vendor.v1+json`. However, using your approach the version is going to be fixed at the URL. Agree?

Yesterday, I tried to create a Pl

[2015-07-01 15:37] cgarciae commented on #126
Redstone uses the `route_hierarchical` to route requests to methods/functions, much of what you see on how both Redstone and Angular manage routing, including route parameter specification style, is because they are based on this library. What you want makes sense given the http guidelines, but requires a routing mechanism that might be beyond what the routing library and redstone (at the moment)

[2015-07-16 09:16] zijam opened #129 "Redstone mapper depends on old version of analyzer"
The latest version of Redstone mapper on  www.pub.dartlang.org (redstone_mapper: "^0.2.0-beta.1"), depends on old version of analyzer

[code]

I get incompatible version constraints on analyzer in my dart project.

In github repo the yaml file has been updated with the lastest version of analyzer.

Can you upload a new version to pub.dartlang.org ?

[2015-07-16 09:22] zijam commented on #129
Wrong repo :grimacing:

[2015-07-16 09:22] #129 closed, assigned to nobody

[2015-07-20 15:42] mbayou opened #130 "app.redirect() just return 302 without real redirection"
Hi,

I work on a wiki project in dart and I search to handle 404 error to redirect on a creation page. But when I use redirect, just get http code 302 without a real redirection... Do you have any idea ?

My code

[code]

[2015-07-29 16:28] davidmehren opened #131 "http_body_parser tries to parse body of GET Requests"
I just found out that http_body_parser tries to parse the body of every request if the header 'Content-Type' is set to 'application/json'. If the request is GET this obviously fails because GET requests dont have a body.

Stack trace of the error:
Failed to execute .getDays - FormatException: Unexpected end of input (at character 1)

^

dart:convert                                       JsonCodec.

[2015-08-05 12:54] cgarciae opened #132 "Permissions to upload updates to pub"
I specifically need permissions to upload updates to `redstone_mapper` pub package, but access to all the packages would be nice.

[2015-08-06 02:00] azenla commented on #132
Sure!

[2015-08-06 02:00] azenla commented on #132
@cgarciae You have been a big help. I have been extremely busy, so it's been hard to keep this project up.

[2015-08-08 19:45] cgarciae opened #133 "bool QueryParam not being parsed as a boolean on v0.6"
This simple examples

[code]

gives rise to

meaning that is being passed as a String instead of a bool.

[2015-08-08 19:54] cgarciae commented on #130
On `v0.6` I use redirect just fine, which version are you using?

[2015-08-08 20:14] luizmineo commented on #133
See [ParametersProcessos.getValueConverter() method](https://github.com/redstone-dart/redstone/blob/v0.6/lib/src/parameters_processor.dart#L179). I think you can just change the last condifition to:

[code]

[2015-08-08 23:37] cgarciae commented on #133
Thanks @luizmineo ! Code fixed and available on pub :)

[2015-08-10 14:58] Pacane opened #134 "Is there a way to use a middleware just for some specific endpoints?"
Seems like when I do

[code]

It is used for all the endpoints. I figured I could wrap my middleWare and check for the request.url to see if it matches XYZ endpoints, but I was wondering if there is/should be a way of doing this with redstone/shelf.

I can see in shelf that there's support for route-specific middleware with

[code]

[2015-08-10 15:42] #109 closed, assigned to nobody

[2015-08-10 16:31] Pacane commented on #134
I guess I could also use the strategy in this post http://redstonedart.org/2014/07/18/authentication-and-authorization/

and make a redstone plugin for it (and annotate my groups/specific endpoints with it)

[2015-08-10 20:24] cgarciae commented on #134
@Pacane I think Redstone plugins are just shelf middleware under the hood. I've created a couple of  documented and undocumented plugins for Redstone, what do you need?

[2015-08-10 21:59] Pacane commented on #134
I was looking to use shelf_auth package but it was using all the endpoints as its scope.

What I need specifically, is to protect my end points with a session mechanism that's based on a token (jwt)

[2015-08-10 22:21] #133 closed, assigned to nobody

[2015-08-10 22:32] cgarciae opened #135 "v0.6 Error decoding body form to objects that contain integer fields"
I have this test class and route that tries to parse a form containing a integer value

[code]

But this error arises as a result

[code]

It look like its trying to decode a Map to a TestClass but fails because the maps "number" field is a String.

[2015-08-10 22:44] cgarciae commented on #135
Looking at the code it seems that `request.body`s values are always Strings.

[2015-08-10 23:06] cgarciae commented on #135
@luizmineo I don't have experience with reflection, can you tell me how to make the mapper plugin call a `fromJson(Map map)` constructor before giving up?

[2015-08-10 23:31] cgarciae commented on #135
How about this?

[code]

[2015-08-10 23:51] cgarciae commented on #135
It might be nicer if the decoder tried to parse String to int before failing in general.

[2015-08-12 16:33] mbayou commented on #130
Hi,

We have this problem with 0.6.0-beta.1 version yes... we use a trick in javascript to fix it, but if it's works for you, I think the problem is from our utilisation.

[2015-08-12 22:40] cgarciae commented on #130
Let me check. I had a problem with redirect in 0.5 but it was fixed in 0.6, but I havent tested it in error handlers.

[2015-08-13 00:37] cgarciae commented on #130
Out of curiosity, are you rendering html or sending json?

[2015-08-13 08:14] mbayou commented on #130
We render html. What problem occurred in the 0.5 ? Do you think are link ?

To detail little more, to check if redirect work I check the response header and we don't have any field Location, even if set it manually...

[2015-08-14 02:47] cgarciae commented on #130
@mbayou Killing two birds with one shot
1. I have an example using redirect and works fine, you can see it in...
2.  The redstone [mvc plugin example](https://github.com/redstone-dart/mvc_example_project/) show how to use the most recent version of the plugin. With the mvc plugin you can automatically use your route information to render mustache templates using any object encodable by the mapper

[2015-08-20 02:13] austincummings opened #136 "v0.6 rollout?"
This issue is just to open the discussion for pushing v0.6 as the stable version to pub.

My two questions would be:
- What milestone are we waiting to get to?
- What is currently preventing us from getting there?

[2015-08-21 00:09] cgarciae commented on #136
I am using 0.6 on production and see no problems. Vote for pushing it as
stable.

On Wed, Aug 19, 2015, 21:13 Austin Cummings notifications@github.com
wrote:

[2015-08-21 03:45] austincummings commented on #136
Pushing sounds good to me. I haven't had any problems either.

[2015-08-26 08:24] vimalraj-a opened #138 "File not closed after its downloaded"
Hi,

I have created a simple dart file server for downloading a file from server. I can download the file. But, I cannot delete the file from server after its downloaded.

here is my code :

import 'package:redstone/server.dart' as app;
import 'dart:io';
import 'dart:async';

@app.Interceptor("/files/.*")
downloadFileInterceptor() {
  app.chain.next(() => app.response.change(
      headers: {

[2015-09-25 20:09] vimalraj-a commented on #138
You guys are not taking this as serious issue?. I can't remove the file which is been downloaded before......

[2015-09-25 21:06] azenla commented on #138
@cgarciae @austincummings @luizmineo Anyone have any idea?

[2015-09-25 22:50] Pacane commented on #138
@vimalraj-a What do you mean by "you can't remove it". Your Dart app can't remove it or the OS can't remove it? What happens if you run `rm -rf path-to-filename` ? What does the OS say?

[2015-09-25 22:51] vimalraj-a commented on #138
I am using windows machine. I got error message from windows like 'file has been used by some other process'

[2015-09-25 23:12] Pacane commented on #138
Even after rebooting your computer?

[2015-09-25 23:19] vimalraj-a commented on #138
No, Dart.exe process using that file. I can delete the file only if I stop redstone server app or killing dart.exe process.

[2015-09-25 23:54] Pacane commented on #138
By checking at https://github.com/dart-lang/shelf_static/blob/master/lib/src/static_handler.dart#L110 you might want to try to return a `response.ok(file.openRead())`

[2015-09-26 00:25] vimalraj-a commented on #138
I am not able to find app.response.ok() method on redstone: 0.5.21+1.
If you would add the snippet in this method would be great to me.

[2015-09-26 00:28] Pacane commented on #138
I'm not sure anymore about what the api looks like in 0.5.21+1, but you may want to look for shelf responses.

[2015-09-26 01:27] vimalraj-a commented on #138
shelf.Response helloWorld(String fileName) {
  File f = new File("C:\Users\xxx\Desktop\$fileName");
  Map headers = {"Content-Disposition" :
      'attachment; filename="${web.request.url.pathSegments.last}"}';

  return new shelf.Response.ok(f.openRead(), headers: headers);
}

This works for me. Thanks @Pacane

[2015-09-26 01:27] #138 closed, assigned to nobody

[2015-09-27 23:51] Pacane commented on #134
Plugins seem to be the thing I was looking for. Thanks!

[2015-09-27 23:51] #134 closed, assigned to nobody

[2015-09-29 12:39] vimalraj-a opened #140 "dependency issue on redstone 0.6.0"
I am getting following error while pub get / pub upgrade

Package di has no versions that match >=3.3.1 <4.0.0 derived from:
redstone 0.6.0+1 depends on version >=3.3.1 <4.0.0

[2015-09-29 12:40] Pacane commented on #140
Can you show us the complete pubspec or at least the dependencies section?

[2015-09-29 12:48] vimalraj-a commented on #140
name: GISServer
version: 0.0.1
description: GIS API Server
environment:
  sdk: '>=1.0.0 <2.0.0'
dependencies:
  GISCommon:
    path: '../GISCommon'
  redstone: "^0.6.0+1"
dev_dependencies:
  test: '>=0.12.0 <0.13.0'

[2015-09-29 18:23] Pacane commented on #140
Are you importing the di package from somewhere else? I suspect from `GISCommon`. If so, what version are you importing?

[2015-09-30 01:08] Pacane commented on #136
I vote for pushing as well!

[2015-09-30 05:07] azenla commented on #136
:+1:

Who wants to do the honors?

[2015-09-30 06:08] vimalraj-a commented on #140
I am not importing di package from `GISCommon`. But I have `dson: "0.1.7"` which is conflicting with redstone's other dependency.

After removing `dson` from `GISCommon` This is resoved.

Thanks for your support to identify the root cause.

[2015-09-30 06:08] #140 closed, assigned to nobody

[2015-09-30 11:36] Pacane commented on #136
Do we have 0.6 docs ready though?

[2015-10-08 01:10] OzzieOrca opened #141 "v0.6 Interceptor"
Below is my v0.5 code:

[code]

It's been a little bit since I've tried upgrading to v0.6 (so the syntax might be slightly off) but I was unable to get the `web.chain.next(...)` to work right. I tried splitting it into 2 lines:

[code]

If you could point me to some documentation an example that would be great. Thanks!

[2015-10-09 01:35] Pacane commented on #141
Sure there you go!

[code]

The documentation for 0.6 is still not out though [I think]. There are some hidden snippets in [the changelog file](https://github.com/redstone-dart/redstone/blob/v0.6/CHANGELOG.md) for the 0.6 branch. You can see the changes in the APIs as well.

Hope that helps.

If that solves your problem, please close this issue. Otherwise I'll close it if it becomes inactive.

[2015-10-09 01:38] Pacane commented on #135
Is this still relevant? Also, shouldn't this issue be opened on the plugin's repo directly [or is it a bug with redstone specifically?]

[2015-10-09 01:42] Pacane commented on #91
I think you can pass `bool autoCompress: true` to the `start` function. If that works, please close the issue.

[2015-10-10 15:59] #141 closed, assigned to nobody

[2015-10-10 16:47] Pacane commented on #131
Does anyone know what the standard is for this? I know from that a GET request [can actually have a body](http://stackoverflow.com/questions/978061/http-get-with-request-body).

Although, nowhere in the [GET specification](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.3) do I see anything saying that it's forbidden to send an entity-body in such request. [As opposed to [OPTIONS reques

[2015-10-10 22:27] Pacane commented on #94
@cgarciae Did you end up getting this to work? You said in your SO question that it ended up being a shelf problem and now it's fixed. Also what is the option you had to enable to get it to work?

[2015-10-13 14:15] #86 closed

[2015-10-13 14:15] #91 closed

[2015-10-15 18:19] #93 closed

[2015-10-15 18:20] Pacane commented on #132
@cgarciae If you still don't have permissions, please reopen an issue.

[2015-10-15 18:20] #132 closed, assigned to nobody

[2015-10-15 18:21] #90 closed

[2015-10-15 18:22] #92 closed

[2015-10-23 03:36] Mixolyde opened #142 "app.setUp no longer accessible from redstone/redstone.dart"
I did an upgrade to redstone-0.6.0+1, and changed my references from redstone/server.dart to redstone/redstone.dart. Now I can't import redstone/server.dart, and don't have access to the setUp method to run unit tests. I think the documentation needs updating.

00:00 +0 -2: get playerdata for game tests GET game list
  No top-level method 'app.setUp' declared.

  NoSuchMethodError: method not foun

[2015-10-23 15:00] Mixolyde commented on #142
Nevermind, found the new names redstoneSetUp and redstoneTearDown on the home page. Just needs a doc update

[2015-10-23 15:00] #142 closed, assigned to nobody

[2015-10-29 17:28] Pacane commented on #110
Will publish 0.6 soon.

[2015-10-29 17:28] #110 closed, assigned to nobody

[2015-11-02 23:05] Pacane opened #148 "Make sure showErrorPage is documented before 0.6"
Because right now, I'm not sure it is.

[2015-11-03 01:22] Pacane commented on #148
https://github.com/redstone-dart/redstone/pull/149

[2015-11-03 01:22] #148 closed, assigned to nobody

[2015-11-17 19:04] RdeWilde commented on #136
So where is it?

[2015-11-17 19:10] Pacane commented on #136
I have converted the whole doc to 0.6. I think we should be ready to release 0.6, I'll do that tonight. Unless someone has any concern with that.

[2015-11-17 20:08] RdeWilde opened #151 "Nesting @app.Group?"
I just got started with Dart and Redstone, looks great.

Is it possible to nest @app.Group thru some sort of structure?

I would ofcourse prefer splitting the services up into different parts (the UserService etc).

For example, possibly pseudo:

[code]

Would be awesome, thanks!

[2015-11-17 20:10] RdeWilde commented on #136
Awesome! @Pacane

[2015-11-17 21:35] Pacane commented on #151
This is more like a limitation in Dart. What I suggest you though, is to put your paths in a constant files where the nested paths are included in another constant.

This way you can have things like

[code]

and so on.

[2015-11-17 21:38] #130 closed, assigned to nobody

[2015-11-19 13:41] #151 closed, assigned to nobody

[2015-11-24 01:27] Pacane commented on #136
0.6.1 was released!

[2015-11-24 01:27] #136 closed, assigned to nobody

[2015-11-25 00:44] #135 closed, assigned to nobody

[2015-12-16 19:04] Pacane commented on #53
This doesn't seem to work properly.

[2016-01-25 19:16] #102 closed, assigned to nobody

[2016-01-25 19:17] #106 closed, assigned to nobody

[2016-01-25 19:17] #100 closed, assigned to nobody

[2016-02-04 14:22] Pacane commented on #87
@cgarciae Are you still working on this? I have worked on mongo_dart and I might be able to help you if this is still a thing.

[2016-02-04 14:23] Pacane commented on #94
I ended up asking on the shelf package, here's the answer https://github.com/dart-lang/shelf/issues/54

[2016-02-04 14:23] #94 closed

[2016-02-04 14:26] Pacane commented on #37
0.6 was released.

[2016-02-04 14:26] #37 closed

[2016-02-04 14:27] Pacane commented on #19
Not a problem anymore.

[2016-02-04 14:27] #19 closed

[2016-02-14 13:54] henrikvs opened #166 "matchSubPaths - wiki outdated"
The wiki mentions the matchSubPaths property for routes, but the property seems to have been removed some time ago.

The changelog mentions:
Removed `Route.matchSubPaths` property (`route_hierarchical` supports this by default now)

How can this be done with route_hierarchical within the Route annotation?  I can't figure it out.

[2016-02-14 14:04] luizmineo commented on #166
[code]

[2016-02-24 00:51] TheBosZ commented on #131
:+1: Just ran into this problem myself.

I have an Angular2 (Ionic2) app talking to my server and when I try to
`http.get('server/users')` my auth interceptor throws up.

According to the [Angular2 docs](https://angular.io/docs/ts/latest/api/http/Http-class.html) get doesn't even have an option for a body.

[2016-02-24 01:00] Pacane commented on #131
Can you show the code you use to initiate the query? It is likely to be invalid to provide a body for a `GET`.

[2016-02-24 01:04] TheBosZ commented on #131
[code]

Notice that there's only 2 parameters for get: url and options.

[2016-02-24 01:12] Pacane commented on #131
so this is JS right?

[2016-02-24 01:15] TheBosZ commented on #131
That particular bit of code is Typescript, but a Javascript version would look exactly the same.

To me, it seems like a simple fix would be to change http_body_impl to check the body before trying to decode it. Any reason why that wouldn't work?

[2016-02-24 01:19] Pacane commented on #131
No that would be fine I suppose. I just didn't know if we should throw an error or just ignore the body on a GET. There doesn't seem to be a standard for this AFAIK. If you know anything about such standard, let me know.

[2016-02-24 01:29] Pacane commented on #131
Anyway, if you want to contribute it, I'd be glad to merge it, otherwise I'll add this to my todo list. :)

[2016-02-24 01:30] TheBosZ commented on #131
Well, [this response](http://stackoverflow.com/a/983458/1734975) on that Stack Overflow post has this bit:

And reading the comments and other thoughts, it sounds like the best idea is parse it if it's there, but otherwise ignore it.

Webstorm is being stupid about letting me edit imported libraries, but I'll try my idea and see if I like the results.

[2016-02-24 01:30] #87 closed

[2016-02-24 01:32] Pacane commented on #96
@SatWiz It seems like the transformer isn't working correctly. I personally stopped using redstone_mapper in favor of dogma_codegen. However, if you are still having problems with this, I could take a look at it.

[2016-02-24 01:33] Pacane commented on #131
So "parse it if it's there", and do what with it?

[2016-02-24 16:37] TheBosZ commented on #131
Now that I've had a chance to look at what the code actually does, I don't really see an easy way to do what I was thinking. I was thinking he had more control in how it parses, but now I see that it's handled outside of this library.

Playing around with it, what if we did something like this in request_parser.dart, around line 37, essentially ignoring a body if it's not expected:

`if (_body ==

[2016-02-24 22:04] Pacane commented on #131
I think this could be something doable yes. I still wonder if we should parse it or not. I think we should just  ignore the body when it's a GET.

[2016-02-24 22:05] TheBosZ commented on #131
I agree. From the SO post, that seems to be an acceptable solution.

[2016-02-25 20:14] SatWiz commented on #96
thanks Pacane, thought I had use dart bridge as replacement. So no need anymore ;)

[2016-02-25 20:14] #96 closed

[2016-02-25 20:36] Pacane commented on #96
If you want some help about using dogma-codegen though. let me know. I've also written a small post about it. http://stacktrace.ca/json-serialization-in-dart-with-dogma

[2016-02-27 00:49] Pacane commented on #131
@TheBosZ Fix deployed in the wild with v0.6.5. Thanks again!

[2016-03-18 10:28] deepseeksss opened #168 "multi import Route not support?"
main.dart

[code]

user.dart

[code]

verify_code.dart

[code]

only the first import user route valid...

[2016-03-18 12:30] Pacane commented on #168
How can it be valid? The method has no body. Also, what are you trying to achieve? I'm not sure

[2016-03-19 00:41] deepseeksss commented on #168
sorry. there is something wrong when i copy the code.
i want separate many routes to different files such as modules...

[2016-03-19 13:38] platelk commented on #168
Have you tried to put them in a library instead and see if it works ?

[2016-03-19 14:09] Pacane commented on #168
If I were you, I would use groups they're made for that.

If you don't want to, you can make a library, and have your routes in
different parts of the library.

On Sat, Mar 19, 2016, 9:38 AM Vink notifications@github.com wrote:

[2016-03-21 03:05] deepseeksss commented on #168
make them to a library is ok

[2016-03-21 03:05] #168 closed, assigned to nobody

[2016-03-30 17:39] lukechi1219 opened #170 "redstone.redirct() not working unless set app.showErrorPage = false;"
redstone.redirect() just return 302 without real redirection
and redstone treats a 302 as an error I suppose
and displays an error page when that happens
Don't think we should consider 302 as an error though

@Pacane

maybe can follow dart api
https://api.dartlang.org/1.12.0/dart-io/HttpClientRequest/followRedirects.html

Automatic redirect will only happen for "GET" and "HEAD" requests and only f

[2016-04-08 18:25] rahulakash commented on #66
Hello @cgarciae

Thanks for your post here. I am currently in the same situation where I have to serve the file content from GridFs, is there a way to serve file contents without having to save the file in the system? I see that you have achieved it through `Stream<List<int>>` It will be very helpful if you could share your idea on this.

Thanks in advance.

[2016-04-08 21:54] Pacane commented on #66
@rahulakash Not sure what the API looks like for GridFS, but for the streaming part, you might want to look at this

https://github.com/dart-lang/shelf/issues/54

[2016-04-10 12:19] Meai opened #171 "redstone_web_socket not being found?"
pubspec.yml:

[code]

pub get:

[code]

[2016-04-10 15:22] Meai opened #172 "m.handler.responseProcessor is not defined for class 'HandlerMetadata'"
That's a lint error I'm getting at processor.dart:130

How do I fix this?

[2016-04-10 17:10] Pacane commented on #172
We'd have to fix this in the code base. This was done way before I came into the project, and I've seen this as well. I was trying to figure out how to rewrite this part without breaking everything.

[2016-04-10 18:42] Pacane opened #174 "Update Jekyll dependency"
Got this email -- if anyone has time for it.

[2016-04-13 14:03] rahulakash commented on #66
@Pacane Thank you for the suggestion. I will update here with the results once I try this and get it to work.

[2016-05-22 07:38] Sgoettschkes opened #176 "Documentation: Unittest example not working"
I was trying to get the example for [Unit test](http://redstonedart.org/doc/Unit-test/) working and had several issues:
- The unittest package is used but it is not mentioned anywhere. A short note that this package needs to be installed would be nice
- `import 'package:redstone/mocks.dart';` does not work. It has to be `import 'package:redstone/request_mock.dart';`

I didn't find the source code

[2016-06-06 11:10] sestegra commented on #176
The documentation is located on `gh-pages` branch.
https://help.github.com/articles/what-are-github-pages/

The corrected unittest code is following

[code]

[code]

[2016-06-06 12:35] sestegra commented on #170
3xx codes are dedicated to redirection. So, they aren't errors.
https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

The response with 3xx should be interpreted by the client with ignoring the response body and with redoing a request to the given URL in location header.

This behavior has already been implemented on web browsers (Chrome, Firefox, IE...).
However, with `curl`, you have to add `

[2016-06-06 12:56] #170 closed, assigned to nobody

[2016-06-06 12:56] #172 closed, assigned to nobody

[2016-06-06 15:39] #53 closed

[2016-06-06 16:18] sestegra commented on #176
@Pacane this issue could be closed.

[2016-06-06 16:18] sestegra commented on #174
@Pacane this issue could be closed.

[2016-06-06 17:05] #174 closed, assigned to nobody

[2016-06-06 17:05] Pacane commented on #174
Thanks

[2016-07-22 01:10] Pacane commented on #176
@sestegra did you fix it? If so I'll close the issue. Otherwise, I'll fix it.

[2016-07-22 10:31] sestegra commented on #176
@Pacane done with #179

[2016-07-22 14:23] #176 closed, assigned to nobody

[2016-07-22 14:24] Pacane commented on #176
Thanks!

[2016-07-27 20:17] fwgreen commented on #131
This issue persists if you use [Postman](https://www.getpostman.com/) and don't explicitly disable `application/json` on the request body.

[2016-07-28 09:59] ghost commented on #96
Hello,

I am getting this error while I am deploying this.

Building security_monkey... (22.4s)
[Info from Dart2JS]:
Compiling security_monkey|web/main.dart...
[Dart2JS]:
web/main.dart:

---
- WARNING: dart:mirrors support in dart2js is experimental,
-          and not recommended.
-          This implementation of mirrors is incomplete,
-          and often greatly increases the size of the gener

[2016-07-30 18:18] Pacane commented on #96
Show me your pubspec.

[2016-08-03 14:09] ghost commented on #96
name: security_monkey
description: An AWS Policy Monitoring and Alerting Tool
version: 0.5.0
dependencies:
  angular: ">=1.1.0 <2.0.0"
  angular_ui: ">=0.6.8 <0.7.0"
  hammock: ">=0.4.0 <0.5.0"
  ng_infinite_scroll: ">=0.2.0 <0.3.0"
  web_components: ">=0.10.1 <0.11.0"
  browser: ">=0.10.0+2 <0.11.0"
  http_server: ">=0.9.5+1 <0.10.0"
  code_transformers: ">=0.2.5 <0.3.0"
  dart_to_js_script_rewri

[2016-08-03 14:15] Pacane commented on #96
wait, so are you serving an angular app from redstone?

[2016-08-05 16:46] Pacane opened #184 "_scanLibrary should also consider exports"
Because

given `user_service.dart` has groups/interceptors,

and `my_lib.dart` is

[code]

the `setUp` method doesn't pick nested groups in there.

[2016-08-05 17:08] mnordine opened #185 "Only first group's routes registered"
See https://gitlab.com/mark-nordine/redstone-bug

server.dart:

[code]

my_lib.dart:

[code]

user_service.dart:

[code]

api.dart:

[code]

When run, only routes from `user_service.dart` are registered.

[2016-08-05 17:10] Pacane commented on #185
In fact, only the first lib to be imported is registered.

[2016-08-05 17:17] mnordine opened #186 "Exporting classes with @Group annotations don't work unless imported"
See https://gitlab.com/mark-nordine/redstone-bug/commit/1f90a0c3c81df9d48f8e6e93258da4070ea52ac1

my_lib.dart:

[code]

user_service.dart:

[code]

The Group's routes don't get registered unless you add `import 'user_service.dart';`

[2016-08-05 17:19] mnordine commented on #186
Duplicate #184

[2016-08-05 17:19] #186 closed, assigned to nobody

[2016-08-22 08:01] indiealexh commented on #151
My solution to this problem is to extend the Group annotation...

e.g.

[code]

And now I can just call the API specific annotation where I need it, and if needs be, extend that group to have sub groups.

[2016-08-22 13:21] indiealexh commented on #185
You don't need the export.

You can simply add the services as sub librarys of my_lib...
Redstone will then traverse the library.

e.g.
my_lib.dart:

[code]

user_service.dart:

[code]

api.dart:

[code]

EDIT: Removed parts example

[2016-08-22 13:23] Pacane commented on #185
The point of this was to avoid parts. And I don't think  your first example without parts actually works.

It could though. But last time I checked, there was something preventing this from working. It'd only register the first imported library.

[2016-08-22 13:25] indiealexh commented on #185
Hmm Ill need to double check, but I thought I have it working with imports. Ill come back to this.

Edit: It worked.

[2016-08-22 13:30] Pacane commented on #185
Minimal reproductible code

[code]

[code]

[code]

[code]

[code]

Ignore the "printing twice the same debug info" bug.

[2016-08-22 13:32] indiealexh commented on #185
Try this (it works):

[code]

[code]

[code]

[2016-08-22 13:34] Pacane commented on #185
Indeed. @mnordine this could in interest you as a temporary fix. ^

[2016-08-22 13:35] Pacane commented on #185
Still @indiealexh, this shouldn't be necessary, unless I misunderstand a concept with libraries?

[2016-08-22 13:39] indiealexh commented on #185
@Pacane Tbh, I'm not sure how it should work, it just made sense for me to place my "Controllers" or "Services" as sub libraries and just import that at start up.

[2016-08-23 01:45] mnordine commented on #185
That does indeed work, thx for the mention. I don't like the extra step of having to declare a library per-file though.

[2016-08-23 01:46] Pacane commented on #185
Me neither. But it's a step forward removing part/part of if you don't like them. Eventually we might come up with a fix for this though.

I'd really like to have one lol

[2016-09-19 08:41] mkhan-akhan opened #189 "Multiple Hosts on Multiple sources (Virtual Hosts)"
There doesn't seem to be much guidance on how to configure redstone for a multiple host scenario using the named-based approach. How does one add a host such as 'static.myserver.com'?

[2016-09-21 12:39] stijnvanbael opened #190 "Stacktraces are logged on severe for 400 range response codes"
When I do this:

`throw new app.ErrorResponse(401, 'Missing header "Authorization"');`

Then I see something like this in the logs:

[code]

This is a user error. I would expect a warning with a clear message of what is wrong, not a stacktrace.

[2016-10-16 11:22] jodinathan opened #192 "Can't use brackets in the URL"
This works: http://localhost:8080/api/v1/webinar/list?map=%7B%22fields%22%3A%22id%22%2C%22filter%22%3A%7B%22title%22%3A%5B%22regex%22%2C%22title%22%5D%7D%2C%22link%22%3A%7B%22inner%22%3A%7B%7D%7D%7D

this doesn't: http://localhost:8080/api/v1/webinar/list?map={"fields":"id","filter":{"title":["regex","5802d1db2db83743e47f51a0"]},"link":{"inner":{}}}

edit to clarify: if I remove the [] from the se

[2016-10-17 14:50] Pacane commented on #192
I didn't even know this was such a thing. Oh well.

[2016-10-24 21:06] #190 closed, assigned to nobody

[2016-10-26 20:21] nex3 opened #193 "HTTP mocks are broken against the latest Shelf version"
The most recent version of shelf uses [`HttpHeaders.chunkedTransferEncoding`](https://api.dartlang.org/stable/1.20.1/dart-io/HttpHeaders/chunkedTransferEncoding.html), which is not mocked by [Redstone's mock class](https://github.com/redstone-dart/redstone/blob/v0.6/lib/src/http_mock.dart#L10). This is causing test failures.

In general, you should never mock `dart:io` HTTP classes when working wi

[2016-10-30 11:58] sestegra commented on #193
Fixed by #194

[2016-12-09 02:02] derrick56007 commented on #171
I was able to get the package but adding the plugin and running the server resulted in an unhandled exception
[code]

[2017-01-28 14:44] jodinathan opened #196 "How to get the function handler based on a URL?"
Hi,

I need to create a batch controller that will execute several other handlers.
Like the facebook graph API, where you can do single post requests and you can also group them into one post that facebook will parse all items like they were sent one by one and return the results in an array.
Request example:
[
  { url: '/something/one', data: { hi: '1'} },
  { url: '/something/two', data: { hi: '

[2018-02-14 07:42] EasonPai opened #198 "Cannot get MockRequest running"
I followed wiki and everything is set like:

[code]

[code]

and I get response, and my echoGET is never called,
[code]

I run with environment:

Can anyone help to find what I missed?

[2018-02-14 08:18] EasonPai commented on #198
Oh no, I figured out that I shouldn't include line:
[code]

so a working setup should be:

[code]

[2018-02-14 08:18] #198 closed, assigned to nobody

[2018-07-22 10:30] helianthuswhite opened #199 "flutter_test from sdk is incompatible with redstone ^0.6.8"
When I use redstone in a flutter project, it get the wrong tip "flutter_test from sdk is incompatible with redstone ^0.6.8".

[2020-04-24 06:04] richarddewit opened #200 "Website hijacked?"
Random links to pharmaceuticals are inserted:

![image](https://user-images.githubusercontent.com/7933750/80180226-8c4af280-8602-11ea-8e75-6b83aab922f7.png)

Also Wappalyzer states that it's built with PHP instead of Github Pages

[2020-04-26 14:58] luizmineo commented on #200
Yeah, it's my fault, I forgot to renew the redstone.dart domain. I updated the repository description to link directly to gh-pages, and sent an abuse report to the domain registrar, but I don't think we can get the domain back.

Note that this package is unmaintained for a long time, and it's not compatible with dart 2.0, so I don't recommend to rely on it. I will update the README and the website

[2020-05-02 04:36] mistricky opened #201 "SDK of Dart 2.7.2 support"
When I try to install redstone by Pub, I get the following error:
[code]

How I can fix it?

[2020-05-02 10:55] Pacane commented on #201
Do not use Redstone it's not supported anymore, sorry!

[2020-05-02 10:55] #201 closed, assigned to nobody

[2021-04-01 13:47] iapicca opened #202 "is redstone deprecated?"
@luizmineo
Hi, is redstone actively mantained?
no offense, but it appears to be inactive from 4 years as today

[2021-04-01 14:10] Pacane commented on #202
no it's not, it's written in big text in the README

[2021-04-01 14:10] #202 closed, assigned to nobody

[2021-04-01 14:47] iapicca commented on #202
@Pacane
according to [readme](https://github.com/redstone-dart/redstone/blob/v0.6/README.md) seems it is

[2021-04-01 14:50] Pacane commented on #202
It's not actively maintained. You use 2 different (contradictory) questions, one in the title of your issue, and one in your post.

Just to be clear, Redstone is unmainted and deprecated.